In [ ]:
## Fundamental Data

In [479]:
# Import dependencies from alpaca trade and transformers
import pandas as pd
from pathlib import Path
import yfinance as yf
from sklearn.impute import SimpleImputer
import numpy as np

In [480]:
pd.set_option('display.max_columns', None)
pd.set_option('max_rows', None)

In [481]:
# Cashflow Sheet for AAPL
aapl_cashflow_df = pd.read_csv(
    Path("AAPL_quarterly_cash-flow.csv"),
    index_col = 'name',
    parse_dates=True,
infer_datetime_format=True).T

aapl_cashflow_df.head()

name,OperatingCashFlow,\tCashFlowFromContinuingOperatingActivities,\t\tNetIncomeFromContinuingOperations,\t\tOperatingGainsLosses,\t\t\tGainLossOnSaleOfBusiness,\t\t\tGainLossOnSaleOfPPE,\t\t\tGainLossOnInvestmentSecurities,\t\tDepreciationAmortizationDepletion,\t\t\tDepreciationAndAmortization,\t\tDeferredTax,\t\t\tDeferredIncomeTax,\t\tUnrealizedGainLossOnInvestmentSecurities,\t\tStockBasedCompensation,\t\tExcessTaxBenefitFromStockBasedCompensation,\t\tOtherNonCashItems,\t\tChangeInWorkingCapital,\t\t\tChangeInReceivables,\t\t\t\tChangesInAccountReceivables,\t\t\tChangeInInventory,\t\t\tChangeInPrepaidAssets,\t\t\tChangeInPayablesAndAccruedExpense,\t\t\t\tChangeInPayable,\t\t\t\t\tChangeInTaxPayable,\t\t\t\t\t\tChangeInIncomeTaxPayable,\t\t\t\t\tChangeInAccountPayable,\t\t\t\tChangeInAccruedExpense,\t\t\tChangeInOtherCurrentAssets,\t\t\tChangeInOtherCurrentLiabilities,\t\t\tChangeInOtherWorkingCapital,InvestingCashFlow,\tCashFlowFromContinuingInvestingActivities,\t\tNetPPEPurchaseAndSale,\t\t\tPurchaseOfPPE,\t\t\tSaleOfPPE,\t\tNetIntangiblesPurchaseAndSale,\t\t\tPurchaseOfIntangibles,\t\tNetBusinessPurchaseAndSale,\t\t\tPurchaseOfBusiness,\t\t\tSaleOfBusiness,\t\tNetInvestmentPurchaseAndSale,\t\t\tPurchaseOfInvestment,\t\t\tSaleOfInvestment,\t\tNetOtherInvestingChanges,FinancingCashFlow,\tCashFlowFromContinuingFinancingActivities,\t\tNetIssuancePaymentsOfDebt,\t\t\tNetLongTermDebtIssuance,\t\t\t\tLongTermDebtIssuance,\t\t\t\tLongTermDebtPayments,\t\t\tNetShortTermDebtIssuance,\t\t\t\tShortTermDebtIssuance,\t\t\t\tShortTermDebtPayments,\t\tNetCommonStockIssuance,\t\t\tCommonStockIssuance,\t\t\tCommonStockPayments,\t\tCashDividendsPaid,\t\t\tCommonStockDividendPaid,\t\tProceedsFromStockOptionExercised,\t\tNetOtherFinancingCharges,EndCashPosition,\tChangesInCash,\tBeginningCashPosition,\tOtherCashAdjustmentOutsideChangeinCash,IncomeTaxPaidSupplementalData,InterestPaidSupplementalData,CapitalExpenditure,IssuanceOfCapitalStock,IssuanceOfDebt,RepaymentOfDebt,RepurchaseOfCapitalStock,FreeCashFlow
ttm,"109,584,000,000","109,584,000,000","94,321,000,000",NaN,NaN,NaN,NaN,"11,484,000,000","11,484,000,000",NaN,NaN,NaN,"10,112,000,000",NaN,"-2,689,000,000","-4,539,000,000","8,853,000,000","2,231,000,000","-2,129,000,000",NaN,"-9,566,000,000","-9,566,000,000",NaN,NaN,"-9,566,000,000",NaN,"-7,049,000,000","4,874,000,000","147,000,000","3,891,000,000","3,891,000,000","-12,094,000,000","-12,094,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"17,583,000,000","-26,133,000,000","43,716,000,000","-1,292,000,000","-115,526,000,000","-115,526,000,000","-8,983,000,000","-3,979,000,000",NaN,"-9,444,000,000","-5,004,000,000",NaN,NaN,"-85,362,000,000",NaN,"-85,362,000,000","-14,932,000,000",NaN,NaN,"-6,249,000,000","27,129,000,000","-2,051,000,000","29,180,000,000",NaN,"15,166,000,000","3,332,000,000","-12,094,000,000",NaN,NaN,"-9,444,000,000","-85,362,000,000","97,490,000,000"
03/31/2023,"28,560,000,000","28,560,000,000","24,160,000,000",NaN,NaN,NaN,NaN,"2,898,000,000","2,898,000,000",NaN,NaN,NaN,"2,686,000,000",NaN,"-1,415,000,000","231,000,000","17,786,000,000","5,321,000,000","-741,000,000",NaN,"-14,689,000,000","-14,689,000,000",NaN,NaN,"-14,689,000,000",NaN,"7,000,000","-2,001,000,000",NaN,"2,319,000,000","2,319,000,000","-2,916,000,000","-2,916,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"5,341,000,000","-6,044,000,000","11,385,000,000","-106,000,000","-25,724,000,000","-25,724,000,000","-1,996,000,000","-2,250,000,000",NaN,"-2,250,000,000","254,000,000",NaN,NaN,"-19,594,000,000",NaN,"-19,594,000,000","-3,650,000,000","-3,650,000,000",NaN,"-484,000,000","27,129,000,000","5,155,000,000","21,974,000,000",NaN,"4,066,000,000","1,170,000,000","-2,916,000,000",NaN,NaN,"5,964,000,000","-19,594,000,000","25,644,000,000"
12/31/2022,"34,005,000,000","34,005,000,000","29,998,000,000",NaN,NaN,NaN,NaN,"2,916,000,000","2,916,000,000",NaN,NaN,NaN,"2,905,000,000",NaN,"-317,000,000","-1,497,000,000","6,595,000,000","4,275,000,000","-1,807,000,000",NaN,"-6,075,000,000","-6,075,000,000",NaN,NaN,"-6,075,000,000",NaN,"-4,099,000,000","3,758,000,000","131,000,000","-1,445,000,000","-1,445,000,000","-3,787,000,000","-3,787,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"2,483,000,000","-5,153,000,000","7,636,000,000","-141,000,000","-35,563,000,000","-35,563,000,000","-9,615,000,000","-1,401,000,000",NaN,"-1,401,000,000","-8,214,000,000",NaN,"-8,214,000,000","-19,475,000,000",NaN,"-19,475,000,000","-3,768,000,000","-3,768,000,000",NaN,"-2,705,000,000","21,974,000,000","-3,003,000,000","24,977,000,000",NaN,"828,000,000","703,000,000","-3,787,000,000",NaN,NaN,"-9,615,000,000","-19,475,000,000","30,218,000,000"
09/30/2022,"24,127,000,000","24,127,000,000","20,721,000,000",NaN,NaN,NaN,NaN,"2,865,000,000","2,865,000,000","-1,861,000,000","-1,861,000,000",NaN,"2,278,000,000",NaN,"172,000,000","-48,000,000","-18,693,000,000","-6,384,000,000","435,000,000",NaN,"15,556,000,000","15,556,000,000",NaN,NaN,"15,556,000,000",NaN,"-3,210,000,000","5,646,000,000","218,000,000","-1,217,000,000","-1,217,000,000","-3,289,000,000","-3,289,000,000",NaN,NaN,NaN,"-137,000,000","-137,000,000",NaN,"2,806,000,000","-6,745,000,000","9,551,000,000","-597,000,000","-26,794,000,000","-26,794,000,000","1,657,000,000","2,672,000,000","5,465,000,000","-2,793,000,000","-1,015,000,000","-1,015,000,000",NaN,"-24,428,000,000",NaN,"-24,428,000,000","-3,703,000,000","-3,703,000,000",NaN,"-320,000,000","24,977,000,000","-3,884,000,000","28,861,000,000",NaN,"7,322,000,000","955,000,000","-3,289,000,000",NaN,"4,450,000,000","-2,793,000,000","-24,428,000,000","20,838,000,000"
06/30/2022,"22,892,000,000","22,892,000,000","19,442,000,000",NaN,NaN,NaN,NaN,"2,805,000,000","2,805,000,000","1,668,000,000","1,668,000,000",NaN,"2,243,000,000",NaN,"-41,000,000","-3,225,000,000","3,165,000,000","-981,000,000","-16,000,000",NaN,"-4,358,000,000","-4,358,000,000",NaN,NaN,"-4,358,000,000",NaN,"253,000,000","-1,902,000,000","-367,000,000","4,234,000,000","4,234,000,000","-2,102,000,000","-2,102,000,000",NaN,NaN,NaN,"-2,000,000","-2,000,000",NaN,"6,953,000,000","-8,191,000,000","15,144,000,000","-615,000,000","-27,445,000,000","-27,445,000,000","971,000,000","-3,000,000,000",0,"-3,000,000,000","3,971,000,000","3,971,000,000",NaN,"-21,865,000,000",NaN,"-21,865,000,000","-3,811,000,000","-3,811,000,000",NaN,"-2,740,000,000","28,861,000,000","-319,000,000","29,180,000,000",NaN,"2,950,000,000","504,000,000","-2,102,000,000",NaN,"3,971,000,000","-3,000,000,000","-21,865,000,000","20,790,000,000"

In [482]:
aapl_cashflow_df = aapl_cashflow_df.drop(labels=('ttm'))

In [483]:
aapl_cashflow_df

name,OperatingCashFlow,\tCashFlowFromContinuingOperatingActivities,\t\tNetIncomeFromContinuingOperations,\t\tOperatingGainsLosses,\t\t\tGainLossOnSaleOfBusiness,\t\t\tGainLossOnSaleOfPPE,\t\t\tGainLossOnInvestmentSecurities,\t\tDepreciationAmortizationDepletion,\t\t\tDepreciationAndAmortization,\t\tDeferredTax,\t\t\tDeferredIncomeTax,\t\tUnrealizedGainLossOnInvestmentSecurities,\t\tStockBasedCompensation,\t\tExcessTaxBenefitFromStockBasedCompensation,\t\tOtherNonCashItems,\t\tChangeInWorkingCapital,\t\t\tChangeInReceivables,\t\t\t\tChangesInAccountReceivables,\t\t\tChangeInInventory,\t\t\tChangeInPrepaidAssets,\t\t\tChangeInPayablesAndAccruedExpense,\t\t\t\tChangeInPayable,\t\t\t\t\tChangeInTaxPayable,\t\t\t\t\t\tChangeInIncomeTaxPayable,\t\t\t\t\tChangeInAccountPayable,\t\t\t\tChangeInAccruedExpense,\t\t\tChangeInOtherCurrentAssets,\t\t\tChangeInOtherCurrentLiabilities,\t\t\tChangeInOtherWorkingCapital,InvestingCashFlow,\tCashFlowFromContinuingInvestingActivities,\t\tNetPPEPurchaseAndSale,\t\t\tPurchaseOfPPE,\t\t\tSaleOfPPE,\t\tNetIntangiblesPurchaseAndSale,\t\t\tPurchaseOfIntangibles,\t\tNetBusinessPurchaseAndSale,\t\t\tPurchaseOfBusiness,\t\t\tSaleOfBusiness,\t\tNetInvestmentPurchaseAndSale,\t\t\tPurchaseOfInvestment,\t\t\tSaleOfInvestment,\t\tNetOtherInvestingChanges,FinancingCashFlow,\tCashFlowFromContinuingFinancingActivities,\t\tNetIssuancePaymentsOfDebt,\t\t\tNetLongTermDebtIssuance,\t\t\t\tLongTermDebtIssuance,\t\t\t\tLongTermDebtPayments,\t\t\tNetShortTermDebtIssuance,\t\t\t\tShortTermDebtIssuance,\t\t\t\tShortTermDebtPayments,\t\tNetCommonStockIssuance,\t\t\tCommonStockIssuance,\t\t\tCommonStockPayments,\t\tCashDividendsPaid,\t\t\tCommonStockDividendPaid,\t\tProceedsFromStockOptionExercised,\t\tNetOtherFinancingCharges,EndCashPosition,\tChangesInCash,\tBeginningCashPosition,\tOtherCashAdjustmentOutsideChangeinCash,IncomeTaxPaidSupplementalData,InterestPaidSupplementalData,CapitalExpenditure,IssuanceOfCapitalStock,IssuanceOfDebt,RepaymentOfDebt,RepurchaseOfCapitalStock,FreeCashFlow
03/31/2023,"28,560,000,000","28,560,000,000","24,160,000,000",NaN,NaN,NaN,NaN,"2,898,000,000","2,898,000,000",NaN,NaN,NaN,"2,686,000,000",NaN,"-1,415,000,000","231,000,000","17,786,000,000","5,321,000,000","-741,000,000",NaN,"-14,689,000,000","-14,689,000,000",NaN,NaN,"-14,689,000,000",NaN,"7,000,000","-2,001,000,000",NaN,"2,319,000,000","2,319,000,000","-2,916,000,000","-2,916,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"5,341,000,000","-6,044,000,000","11,385,000,000","-106,000,000","-25,724,000,000","-25,724,000,000","-1,996,000,000","-2,250,000,000",NaN,"-2,250,000,000","254,000,000",NaN,NaN,"-19,594,000,000",NaN,"-19,594,000,000","-3,650,000,000","-3,650,000,000",NaN,"-484,000,000","27,129,000,000","5,155,000,000","21,974,000,000",NaN,"4,066,000,000","1,170,000,000","-2,916,000,000",NaN,NaN,"5,964,000,000","-19,594,000,000","25,644,000,000"
12/31/2022,"34,005,000,000","34,005,000,000","29,998,000,000",NaN,NaN,NaN,NaN,"2,916,000,000","2,916,000,000",NaN,NaN,NaN,"2,905,000,000",NaN,"-317,000,000","-1,497,000,000","6,595,000,000","4,275,000,000","-1,807,000,000",NaN,"-6,075,000,000","-6,075,000,000",NaN,NaN,"-6,075,000,000",NaN,"-4,099,000,000","3,758,000,000","131,000,000","-1,445,000,000","-1,445,000,000","-3,787,000,000","-3,787,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"2,483,000,000","-5,153,000,000","7,636,000,000","-141,000,000","-35,563,000,000","-35,563,000,000","-9,615,000,000","-1,401,000,000",NaN,"-1,401,000,000","-8,214,000,000",NaN,"-8,214,000,000","-19,475,000,000",NaN,"-19,475,000,000","-3,768,000,000","-3,768,000,000",NaN,"-2,705,000,000","21,974,000,000","-3,003,000,000","24,977,000,000",NaN,"828,000,000","703,000,000","-3,787,000,000",NaN,NaN,"-9,615,000,000","-19,475,000,000","30,218,000,000"
09/30/2022,"24,127,000,000","24,127,000,000","20,721,000,000",NaN,NaN,NaN,NaN,"2,865,000,000","2,865,000,000","-1,861,000,000","-1,861,000,000",NaN,"2,278,000,000",NaN,"172,000,000","-48,000,000","-18,693,000,000","-6,384,000,000","435,000,000",NaN,"15,556,000,000","15,556,000,000",NaN,NaN,"15,556,000,000",NaN,"-3,210,000,000","5,646,000,000","218,000,000","-1,217,000,000","-1,217,000,000","-3,289,000,000","-3,289,000,000",NaN,NaN,NaN,"-137,000,000","-137,000,000",NaN,"2,806,000,000","-6,745,000,000","9,551,000,000","-597,000,000","-26,794,000,000","-26,794,000,000","1,657,000,000","2,672,000,000","5,465,000,000","-2,793,000,000","-1,015,000,000","-1,015,000,000",NaN,"-24,428,000,000",NaN,"-24,428,000,000","-3,703,000,000","-3,703,000,000",NaN,"-320,000,000","24,977,000,000","-3,884,000,000","28,861,000,000",NaN,"7,322,000,000","955,000,000","-3,289,000,000",NaN,"4,450,000,000","-2,793,000,000","-24,428,000,000","20,838,000,000"
06/30/2022,"22,892,000,000","22,892,000,000","19,442,000,000",NaN,NaN,NaN,NaN,"2,805,000,000","2,805,000,000","1,668,000,000","1,668,000,000",NaN,"2,243,000,000",NaN,"-41,000,000","-3,225,000,000","3,165,000,000","-981,000,000","-16,000,000",NaN,"-4,358,000,000","-4,358,000,000",NaN,NaN,"-4,358,000,000",NaN,"253,000,000","-1,902,000,000","-367,000,000","4,234,000,000","4,234,000,000","-2,102,000,000","-2,102,000,000",NaN,NaN,NaN,"-2,000,000","-2,000,000",NaN,"6,953,000,000","-8,191,000,000","15,144,000,000","-615,000,000","-27,445,000,000","-27,445,000,000","971,000,000","-3,000,000,000",0,"-3,000,000,000","3,971,000,000","3,971,000,000",NaN,"-21,865,000,000",NaN,"-21,865,000,000","-3,811,000,000","-3,811,000,000",NaN,"-2,740,000,000","28,861,000,000","-319,000,000","29,180,000,000",NaN,"2,950,000,000","504,000,000","-2,102,000,000",NaN,"3,971,000,000","-3,000,000,000","-21,865,000,000","20,790,000,000"
03/31/2022,"28,166,000,000","28,166,000,000","25,010,000,000",NaN,NaN,NaN,NaN,"2,737,000,000","2,737,000,000","406,000,000","406,000,000",NaN,"2,252,000,000",NaN,"-187,000,000","-2,052,000,000","19,931,000,000","9,476,000,000","384,000,000",NaN,"-21,563,000,000","-21,563,000,000",NaN,NaN,"-21,563,000,000",NaN,"1,379,000,000","-2,348,000,000","165,000,000","-9,265,000,000","-9,265,000,000","-2,514,000,000","-2,514,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-6,390,000,000","-27,074,000,000","20,684,000,000","-194,000,000","-28,351,000,000","-28,351,000,000","-1,751,000,000","-3,750,000,000",NaN,"-3,750,000,000","1,999,000,000",NaN,NaN,"-22,631,000,000",NaN,"-22,631,000,000","-3,595,000,000","-3,595,000,000",NaN,"-374,000,000","29,180,000,000","-9,450,000,000","38,630,000,000",NaN,"4,066,000,000","875,000,000","-2,514,000,000",NaN,NaN,"-3,750,000,000","-22,631,000,000","25,652,000,000"
12/31/2021,"46,966,000,000","46,966,000,000","34,630,000,000",NaN,NaN,NaN,NaN,"2,697,000,000","2,697,000,000","682,000,000","682,000,000",NaN,"2,265,000,000",NaN,"167,000,000","6,525,000,000","-13,746,000,000","-3,934,000,000","681,000,000",NaN,"19,813,000,000","19,813,000,000",NaN,NaN,"19,813,000,000",NaN,"-4,921,000,000","4,236,000,000","462,000,000","-16,106,000,000","-16,106,000,000","-2,803,000,000","-2,803,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-12,929,000,000","-34,913,000,000","21,984,000,000","-374,000,000","-28,159,000,000","-28,159,000,000","-1,000,000,000",0,NaN,0,"-1,000,000,000",NaN,NaN,"-20,478,000,000",NaN,"-20,478,000,000","-3,732,000,000","-3,732,000,000",NaN,"-2,949,000,000","38,630,000,000","2,701,000,000","35,929,000,000",NaN,"5,235,000,000","531,000,000","-2,803,000,000",NaN,NaN,0,"-20,478,000,000","44,163,000,000"
09/30/2021,"20,200,000,000","20,200,000,000","20,551,000,000",NaN,NaN,NaN,NaN,"2,989,000,000","2,989,000,000","-4,037,000,000","-4,037,000,000",NaN,"1,945,000,000",NaN,"542,000,000","-1,790,000,000","-17,604,000,000","-8,809,000,000","-1,429,000,000",NaN,"14,112,000,000","14,112,000,000",NaN,NaN,"14,112,000,000",NaN,"-2,143,000,000","5,336,000,000","-62,000,000","835,000,000","835,000,000","-3,223,000,000","-3,223,000,000",NaN,NaN,NaN,"-20,000,000","-20,000,000",NaN,"4,352,000,000","-15,506,000,000","19,858,000,000","-274,000,000","-20,382,000,000","-20,382,000,000","3,220,000,000","5,220,000,000","6,470,000,000","-1,250,000,000","-2,000,000,000",NaN,NaN,"-19,204,000,000","544,000,000","-19,748,000,000","-3,640,000,000","-3,640,000,000",NaN,"-758,000,000","35,929,000,000","653,000,000","35,276,000,000",NaN,"6,849,000,000","817,000,000","-3,223,000,000","544,000,000","6,470,000,000","-1,250,000,000","-19,748,000,000","16,977,000,000"
06/30/2021,"21,094,000,000","21,094,000,000","21,744,000,000",NaN,NaN,NaN,NaN,"2,832,000,000","2,832,000,000","-530,000,000","-530,000,000",NaN,"1,960,000,000",NaN,"-215,000,000","-4,697,000,000","-869,000,000","1,031,000,000","13,000,000",NaN,"211,000,000","211,000,000",NaN,NaN,"211,000,000",NaN,"-1,566,000,000","-2,582,000,000","96,000,000","3,572,000,000","3,572,000,000","-2,093,000,000","-2,093,000,000",NaN,NaN,NaN,"-4,000,000","-4,000,000",NaN,"5,747,000,000","-19,628,000,000","25,375,000,000",NaN,"-29,396,000,000","-29,396,000,000",0,"-3,000,000,000",0,"-3,000,000,000","3,000,000,000","3,000,000,000",NaN,"-22,900,000,000",0,"-22,900,000,000","-3,767,000,000","-3,767,000,000",NaN,"-2,729,000,000","35,276,000,000","-4,730,000,000","40,006,000,000",NaN,"8,260,000,000","543,000,000","-2,093,000,000",0,"-22,000,000","-3,000,000,000","-22,900,000,000","19,001,000,000"
03/31/2021,"23,981,000,000","23,981,000,000","23,630,000,000",NaN,NaN,NaN,NaN,"2,797,000,000","2,797,000,000","-149,000,000","-149,000,000",NaN,"1,981,000,000",NaN,"-499,000,000","-3,779,000,000","25,584,000,000","8,598,000,000","-276,000,000",NaN,"-23,667,000,000","-23,667,000,000",NaN,NaN,"-23,667,000,000",NaN,"-807,000,000","-4,914,000,000","301,000,000","-10,368,000,000","-10,368,000,000","-2,269,000,000","-2,269,000,000",NaN,NaN,NaN,0,0,NaN,"-7,895,000,000","-34,624,000,000","26,729,000,000",NaN,"-11,326,000,000","-11,326,000,000","10,423,000,000","10,423,000,000","13,923,000,000","-3,500,000,000",0,NaN,NaN,"-17,987,000,000","561,000,000","-18,548,000,000","-3,447,000,000","-3,447,000,000",NaN,"-315,000,000","40,006,000,000","2,287,000,000","37,719,000,000",NaN,"8,489,000,000","708,000,000","-2,269,000,000","561,000,000","13,945,000,000","-3,500,000,000","-18,548,000,000","21,712,000,000"
12/31/2020,"38,763,000,000","38,763,000,000","28,755,000,000",NaN,NaN,NaN,NaN,"2,666,000,000","2,666,000,000","-58,000,000","-58,000,000",NaN,"2,020,000,000",NaN,"25,000,000","5,355,000,000","-21,139,000,000","-10,945,000,000","-950,000,000",NaN,"21,670,000,000","21,670,000,000",NaN,NaN,"21,670,000,000",NaN,"-3,526,000,000","7,959,000,000","1,341,000,000","-8,584,000,000","-8,584,000,000","-3,500,000,000","-3,500,000,000",NaN,NaN,NaN,"-9,000,000","-9,000,000",NaN,"-5,279,000,000","-39,800,000,000","34,521,000,000","204,000,000","-32,249,000,000","-32,249,000,000","-978,000,000","-1,000,000,000",0,"-1,000,000,000","22,000,000",NaN,NaN,"-24,775,000,000",0,"-24,775,000,000","-3,613,000,000","-3,613,000,000",NaN,"-2,883,000,000","37,719,000,000","-2,070,000,000","39,789,000,000",NaN,"1,787,000,000","619,000,000","-3,500,000,000",0,0,"-1,000,000,000","-24,775,000,000","35,263,000,000"
09/30/2020,"20,576,000,000","20,576,000,000","12,673,000,000",NaN,NaN,NaN,NaN,"2,702,000,000","2,702,000,000","-397,000,000","-397,000,000",NaN,"1,724,000,000",NaN,"-3,000,000","3,877,000,000","-5,364,000,000","1,768,000,000","-137,000,000",NaN,"6,725,000,000","6,725,000,000",NaN,NaN,"6,725,000,000",NaN,"-2,828,000,000","5,049,000,000","432,000,000","5,531,000,000","5,531,000,000","-1,784,000,000","-1,784,000,000",NaN,NaN,NaN,"-51,000,000","-51,000,000",NaN,"7,468,000,000","-18,332,000,000","25,800,000,000","-102,000,000","-21,357,000,000","-21,357,000,000","4,462,000,000","5,456,000,000","5,456,000,000",0,"-994,000,000",NaN,NaN,"-16,737,000,000","450,000,000","-17,187,000,000","-3,511,000,000","-3,511,000,000",NaN,"-5,571,000,000","39,789,000,000","4,750,000,000","35,039,000,000",NaN,"1,091,000,000","727,000,000","-1,784,000,000","450,000,000","5,425,000,000","-963,000,000","-17,187,000,000","18,792,000,000"
06/30/2020,"16,271,000,000","16,271,000,000","11,253,000,000",NaN,NaN,NaN,NaN,"2,752,000,000","2,752,000,000","833,000,000","833,000,000",NaN,"1,698,000,000",NaN,"165,000,000","-430,000,000","-1,373,000,000","-2,135,000,000","-689,000,000",NaN,"2,733,000,000","2,733,000,000",NaN,NaN,"2,733,000,000",NaN,"2,106,000,000","-3,633,000,000","426,000,000","-5,165,000,000","-5,165,000,000","-1,565,000,000","-1,565,000,000",NaN,NaN,NaN,"-339,000,000","-339,000,000",NaN,"-2,998,000,000","-30,181,000,000","27,183,000,000","-263,000,000","-19,116,000,000","-19,116,000,000","-441,000,000","1,046,000,000","8,425,000,000","-7,379,000,000","-1,487,000,000","-1,487,000,000",NaN,"-15,891,000,000",0,"-15,891,000,000","-3,656,000,000","-3,656,000,000",NaN,"872,000,000","35,039,000,000","-8,010,000,000","43,049,000,000",NaN,"905,000,000","586,000,000","-1,565,000,000",0,"6,938,000,000","-7,379,000,000","-15,891,000,000","14,706,000,000"
03/31/2020,"13,311,000,000","13,311,000,000","11,249,000,000",NaN,NaN,NaN,NaN,"2,786,000,000","2,786,000,000","-302,000,000","-302,000,000",NaN,"1,697,000,000",NaN,"-117,000,000","-2,002,000,000","9,290,000,000","5,269,000,000","727,000,000",NaN,"-12,431,000,000","-12,431,000,000",NaN,NaN,"-12,431,000,000",NaN,"-1,812,000,000","1,986,000,000","238,000,000","9,013,000,000","9,013,000,000","-1,853,000,000","-1,853,000,000",NaN,NaN,NaN,"-176,000,000","-176,000,000",NaN,"11,338,000,000","-29,142,000,000","40,480,000,000","-296,000,000","-20,940,000,000","-20,940,000,000","-1,753,000,000","-4,250,000,000",0,"-4,250,000,000","2,497,000,000",NaN,NaN,"-18,146,000,000","428,000,000","-18,574,000,000","-3,375,000,000","-3,375,000,000",NaN,"2,334,000,000","43,049,000,000","1,384,000,000","41,665,000,000",NaN,"3,112,000,000","918,000,000","-1,853,000,000","428,000,000","1,518,000,000","-4,250,000,000","-18,574,000,000","11,458,000,000"
12/31/2019,"30,516,000,000","30,516,000,000","22,236,000,000",NaN,NaN,NaN,NaN,"2,816,000,000","2,816,000,000","-349,000,000","-349,000,000",NaN,"1,710,000,000",NaN,"-142,000,000","4,245,000,000","5,917,000,000","2,015,000,000","-28,000,000",NaN,"-1,089,000,000","-1,089,000,000",NaN,NaN,"-1,089,000,000",NaN,"-7,054,000,000","5,514,000,000","985,000,000","-13,668,000,000","-13,668,000,000","-2,107,000,000","-2,107,000,000",NaN,NaN,NaN,"-958,000,000","-958,000,000",NaN,"-10,473,000,000","-37,493,000,000","27,020,000,000","-130,000,000","-25,407,000,000","-25,407,000,000","231,000,000","1,210,000,000","2,210,000,000","-1,000,000,000","-979,000,000",NaN,NaN,"-20,704,000,000","2,000,000","-20,706,000,000","-3,539,000,000","-3,539,000,000",NaN,"-1,395,000,000","41,665,000,000","-8,559,000,000","50,224,000,000",NaN,"4,393,000,000","771,000,000","-2,107,000,000","2,000,000","2,210,000,000","-1,000,000,000","-20,706,000,000","28,409,000,000"
09/30/2019,"19,910,000,000","19,910,000,000","13,686,000,000",NaN,NaN,NaN,NaN,"3,179,000,000","3,179,000,000","-302,000,000","-302,000,000",NaN,"1,499,000,000",NaN,"-312,000,000","2,160,000,000","-19,320,000,000","-8,768,000,000","-785,000,000",NaN,"17,881,000,000","17,881,000,000",NaN,NaN,"17,881,000,000",NaN,"180,000,000","4,053,000,000","151,000,000","-798,000,000","-798,000,000","-2,777,000,000","-2,777,000,000",NaN,NaN,NaN,"-13,000,000","-13,000,000",NaN,"2,802,000,000","-18,097,000,000","20,899,000,000","-810,000,000","-21,039,000,000","-21,039,000,000","-293,000,000","3,658,000,000","6,963,000,000","-3,305,000,000","-3,951,000,000",NaN,NaN,"-17,054,000,000","390,000,000","-17,444,000,000","-3,479,000,000","-3,479,000,000",NaN,"-213,000,000","50,224,000,000","-1,927,000,000","52,151,000,000",NaN,"3,468,000,000","860,000,000","-2,777,000,000","390,000,000","6,963,000,000","-3,305,000,000","-17,444,000,000","17,133,000,000"
06/30/2019,"11,636,000,000","11,636,000,000","10,044,000,000",NaN,NaN,NaN,NaN,"2,933,000,000","2,933,000,000","86,000,000","86,000,000",NaN,"1,496,000,000",NaN,"-125,000,000","-2,798,000,000","-214,000,000","919,000,000","1,502,000,000",NaN,"220,000,000","220,000,000",NaN,NaN,"220,000,000",NaN,"1,410,000,000","-5,480,000,000","-236,000,000","27,502,000,000","27,502,000,000","-2,000,000,000","-2,000,000,000",NaN,NaN,NaN,"-320,000,000","-320,000,000",NaN,"30,120,000,000","-8,190,000,000","38,310,000,000","-298,000,000","-26,804,000,000","-26,804,000,000","-5,026,000,000","-3,000,000,000",0,"-3,000,000,000",NaN,NaN,NaN,"-16,954,000,000","1,000,000","-16,955,000,000","-3,629,000,000","-3,629,000,000",NaN,"-1,195,000,000","52,151,000,000","12,334,000,000","39,817,000,000",NaN,"2,298,000,000","801,000,000","-2,000,000,000","1,000,000",0,"-3,000,000,000","-16,955,000,000","9,636,000,000"
03/31/2019,"11,155,000,000","11,155,000,000","11,561,000,000",NaN,NaN,NaN,NaN,"3,040,000,000","3,040,000,000","-177,000,000","-177,000,000",NaN,"1,514,000,000",NaN,"-161,000,000","-4,622,000,000","10,675,000,000","2,964,000,000","70,000,000",NaN,"-11,523,000,000","-11,523,000,000",NaN,NaN,"-11,523,000,000",NaN,"169,000,000","-3,843,000,000","-170,000,000","13,348,000,000","13,348,000,000","-2,363,000,000","-2,363,000,000",NaN,NaN,NaN,"-124,000,000","-124,000,000",NaN,"15,749,000,000","-6,840,000,000","22,589,000,000","86,000,000","-29,457,000,000","-29,457,000,000","-2,506,000,000","-2,500,000,000",0,NaN,NaN,NaN,NaN,"-23,312,000,000",NaN,"-23,702,000,000","-3,443,000,000","-3,443,000,000",NaN,"-196,000,000","39,817,000,000","-4,954,000,000","44,771,000,000",NaN,"4,581,000,000","926,000,000","-2,363,000,000",NaN,0,NaN,"-23,702,000,000","8,792,000,000"
12/31/2018,"26,690,000,000","26,690,000,000","19,965,000,000",NaN,NaN,NaN,NaN,"3,395,000,000","3,395,000,000","53,000,000","53,000,000",NaN,"1,559,000,000",NaN,"-54,000,000","1,772,000,000","12,035,000,000","5,130,000,000","-1,076,000,000",NaN,"-8,501,000,000","-8,501,000,000",NaN,NaN,"-8,501,000,000",NaN,"-886,000,000","570,000,000","-370,000,000","5,844,000,000","5,844,000,000","-3,355,000,000","-3,355,000,000",NaN,NaN,NaN,"-167,000,000","-167,000,000",NaN,"9,422,000,000","-7,504,000,000","16,926,000,000","-56,000,000","-13,676,000,000","-13,676,000,000","6,000,000",0,0,NaN,"6,000,000",NaN,NaN,"-8,796,000,000",NaN,"-8,796,000,000","-3,568,000,000","-3,568,000,000",NaN,"-1,318,000,000","44,771,000,000","18,858,000,000","25,913,000,000",NaN,"4,916,000,000","836,000,000","-3,355,000,000",NaN,0,NaN,"-8,796,000,000","23,335,000,000"
09/30/2018,"19,523,000,000","19,523,000,000","14,125,000,000",NaN,NaN,NaN,NaN,"2,754,000,000","2,754,000,000","519,000,000","519,000,000",NaN,"1,345,000,000",NaN,"-34,000,000","814,000,000","-22,624,000,000","-9,078,000,000","1,942,000,000",NaN,"20,314,000,000","20,314,000,000",NaN,NaN,"20,314,000,000",NaN,"-358,000,000","1,481,000,000","59,000,000","-3,001,000,000","-3,001,000,000","-3,041,000,000","-3,041,000,000",NaN,NaN,NaN,"-290,000,000","-290,000,000",NaN,"552,000,000","-15,306,000,000","15,858,000,000","-222,000,000","-22,580,000,000","-22,580,000,000","-27,000,000",0,0,0,"-27,000,000",NaN,NaN,"-18,763,000,000","341,000,000","-19,104,000,000","-3,530,000,000","-3,530,000,000",NaN,"-260,000,000","25,913,000,000","-6,058,000,000","31,971,000,000",NaN,"1,598,000,000","902,000,000","-3,041,000,000","341,000,000",0,0,"-19,104,000,000","16,482,000,000"

In [484]:
aapl_cashflow_df['Date'] = pd.to_datetime(aapl_cashflow_df.index).strftime('%Y-%m-%d')

In [485]:
aapl_cashflow_df

name,OperatingCashFlow,\tCashFlowFromContinuingOperatingActivities,\t\tNetIncomeFromContinuingOperations,\t\tOperatingGainsLosses,\t\t\tGainLossOnSaleOfBusiness,\t\t\tGainLossOnSaleOfPPE,\t\t\tGainLossOnInvestmentSecurities,\t\tDepreciationAmortizationDepletion,\t\t\tDepreciationAndAmortization,\t\tDeferredTax,\t\t\tDeferredIncomeTax,\t\tUnrealizedGainLossOnInvestmentSecurities,\t\tStockBasedCompensation,\t\tExcessTaxBenefitFromStockBasedCompensation,\t\tOtherNonCashItems,\t\tChangeInWorkingCapital,\t\t\tChangeInReceivables,\t\t\t\tChangesInAccountReceivables,\t\t\tChangeInInventory,\t\t\tChangeInPrepaidAssets,\t\t\tChangeInPayablesAndAccruedExpense,\t\t\t\tChangeInPayable,\t\t\t\t\tChangeInTaxPayable,\t\t\t\t\t\tChangeInIncomeTaxPayable,\t\t\t\t\tChangeInAccountPayable,\t\t\t\tChangeInAccruedExpense,\t\t\tChangeInOtherCurrentAssets,\t\t\tChangeInOtherCurrentLiabilities,\t\t\tChangeInOtherWorkingCapital,InvestingCashFlow,\tCashFlowFromContinuingInvestingActivities,\t\tNetPPEPurchaseAndSale,\t\t\tPurchaseOfPPE,\t\t\tSaleOfPPE,\t\tNetIntangiblesPurchaseAndSale,\t\t\tPurchaseOfIntangibles,\t\tNetBusinessPurchaseAndSale,\t\t\tPurchaseOfBusiness,\t\t\tSaleOfBusiness,\t\tNetInvestmentPurchaseAndSale,\t\t\tPurchaseOfInvestment,\t\t\tSaleOfInvestment,\t\tNetOtherInvestingChanges,FinancingCashFlow,\tCashFlowFromContinuingFinancingActivities,\t\tNetIssuancePaymentsOfDebt,\t\t\tNetLongTermDebtIssuance,\t\t\t\tLongTermDebtIssuance,\t\t\t\tLongTermDebtPayments,\t\t\tNetShortTermDebtIssuance,\t\t\t\tShortTermDebtIssuance,\t\t\t\tShortTermDebtPayments,\t\tNetCommonStockIssuance,\t\t\tCommonStockIssuance,\t\t\tCommonStockPayments,\t\tCashDividendsPaid,\t\t\tCommonStockDividendPaid,\t\tProceedsFromStockOptionExercised,\t\tNetOtherFinancingCharges,EndCashPosition,\tChangesInCash,\tBeginningCashPosition,\tOtherCashAdjustmentOutsideChangeinCash,IncomeTaxPaidSupplementalData,InterestPaidSupplementalData,CapitalExpenditure,IssuanceOfCapitalStock,IssuanceOfDebt,RepaymentOfDebt,RepurchaseOfCapitalStock,FreeCashFlow,Date
03/31/2023,"28,560,000,000","28,560,000,000","24,160,000,000",NaN,NaN,NaN,NaN,"2,898,000,000","2,898,000,000",NaN,NaN,NaN,"2,686,000,000",NaN,"-1,415,000,000","231,000,000","17,786,000,000","5,321,000,000","-741,000,000",NaN,"-14,689,000,000","-14,689,000,000",NaN,NaN,"-14,689,000,000",NaN,"7,000,000","-2,001,000,000",NaN,"2,319,000,000","2,319,000,000","-2,916,000,000","-2,916,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"5,341,000,000","-6,044,000,000","11,385,000,000","-106,000,000","-25,724,000,000","-25,724,000,000","-1,996,000,000","-2,250,000,000",NaN,"-2,250,000,000","254,000,000",NaN,NaN,"-19,594,000,000",NaN,"-19,594,000,000","-3,650,000,000","-3,650,000,000",NaN,"-484,000,000","27,129,000,000","5,155,000,000","21,974,000,000",NaN,"4,066,000,000","1,170,000,000","-2,916,000,000",NaN,NaN,"5,964,000,000","-19,594,000,000","25,644,000,000",2023-03-31
12/31/2022,"34,005,000,000","34,005,000,000","29,998,000,000",NaN,NaN,NaN,NaN,"2,916,000,000","2,916,000,000",NaN,NaN,NaN,"2,905,000,000",NaN,"-317,000,000","-1,497,000,000","6,595,000,000","4,275,000,000","-1,807,000,000",NaN,"-6,075,000,000","-6,075,000,000",NaN,NaN,"-6,075,000,000",NaN,"-4,099,000,000","3,758,000,000","131,000,000","-1,445,000,000","-1,445,000,000","-3,787,000,000","-3,787,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"2,483,000,000","-5,153,000,000","7,636,000,000","-141,000,000","-35,563,000,000","-35,563,000,000","-9,615,000,000","-1,401,000,000",NaN,"-1,401,000,000","-8,214,000,000",NaN,"-8,214,000,000","-19,475,000,000",NaN,"-19,475,000,000","-3,768,000,000","-3,768,000,000",NaN,"-2,705,000,000","21,974,000,000","-3,003,000,000","24,977,000,000",NaN,"828,000,000","703,000,000","-3,787,000,000",NaN,NaN,"-9,615,000,000","-19,475,000,000","30,218,000,000",2022-12-31
09/30/2022,"24,127,000,000","24,127,000,000","20,721,000,000",NaN,NaN,NaN,NaN,"2,865,000,000","2,865,000,000","-1,861,000,000","-1,861,000,000",NaN,"2,278,000,000",NaN,"172,000,000","-48,000,000","-18,693,000,000","-6,384,000,000","435,000,000",NaN,"15,556,000,000","15,556,000,000",NaN,NaN,"15,556,000,000",NaN,"-3,210,000,000","5,646,000,000","218,000,000","-1,217,000,000","-1,217,000,000","-3,289,000,000","-3,289,000,000",NaN,NaN,NaN,"-137,000,000","-137,000,000",NaN,"2,806,000,000","-6,745,000,000","9,551,000,000","-597,000,000","-26,794,000,000","-26,794,000,000","1,657,000,000","2,672,000,000","5,465,000,000","-2,793,000,000","-1,015,000,000","-1,015,000,000",NaN,"-24,428,000,000",NaN,"-24,428,000,000","-3,703,000,000","-3,703,000,000",NaN,"-320,000,000","24,977,000,000","-3,884,000,000","28,861,000,000",NaN,"7,322,000,000","955,000,000","-3,289,000,000",NaN,"4,450,000,000","-2,793,000,000","-24,428,000,000","20,838,000,000",2022-09-30
06/30/2022,"22,892,000,000","22,892,000,000","19,442,000,000",NaN,NaN,NaN,NaN,"2,805,000,000","2,805,000,000","1,668,000,000","1,668,000,000",NaN,"2,243,000,000",NaN,"-41,000,000","-3,225,000,000","3,165,000,000","-981,000,000","-16,000,000",NaN,"-4,358,000,000","-4,358,000,000",NaN,NaN,"-4,358,000,000",NaN,"253,000,000","-1,902,000,000","-367,000,000","4,234,000,000","4,234,000,000","-2,102,000,000","-2,102,000,000",NaN,NaN,NaN,"-2,000,000","-2,000,000",NaN,"6,953,000,000","-8,191,000,000","15,144,000,000","-615,000,000","-27,445,000,000","-27,445,000,000","971,000,000","-3,000,000,000",0,"-3,000,000,000","3,971,000,000","3,971,000,000",NaN,"-21,865,000,000",NaN,"-21,865,000,000","-3,811,000,000","-3,811,000,000",NaN,"-2,740,000,000","28,861,000,000","-319,000,000","29,180,000,000",NaN,"2,950,000,000","504,000,000","-2,102,000,000",NaN,"3,971,000,000","-3,000,000,000","-21,865,000,000","20,790,000,000",2022-06-30
03/31/2022,"28,166,000,000","28,166,000,000","25,010,000,000",NaN,NaN,NaN,NaN,"2,737,000,000","2,737,000,000","406,000,000","406,000,000",NaN,"2,252,000,000",NaN,"-187,000,000","-2,052,000,000","19,931,000,000","9,476,000,000","384,000,000",NaN,"-21,563,000,000","-21,563,000,000",NaN,NaN,"-21,563,000,000",NaN,"1,379,000,000","-2,348,000,000","165,000,000","-9,265,000,000","-9,265,000,000","-2,514,000,000","-2,514,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-6,390,000,000","-27,074,000,000","20,684,000,000","-194,000,000","-28,351,000,000","-28,351,000,000","-1,751,000,000","-3,750,000,000",NaN,"-3,750,000,000","1,999,000,000",NaN,NaN,"-22,631,000,000",NaN,"-22,631,000,000","-3,595,000,000","-3,595,000,000",NaN,"-374,000,000","29,180,000,000","-9,450,000,000","38,630,000,000",NaN,"4,066,000,000","875,000,000","-2,514,000,000",NaN,NaN,"-3,750,000,000","-22,631,000,000","25,652,000,000",2022-03-31
12/31/2021,"46,966,000,000","46,966,000,000","34,630,000,000",NaN,NaN,NaN,NaN,"2,697,000,000","2,697,000,000","682,000,000","682,000,000",NaN,"2,265,000,000",NaN,"167,000,000","6,525,000,000","-13,746,000,000","-3,934,000,000","681,000,000",NaN,"19,813,000,000","19,813,000,000",NaN,NaN,"19,813,000,000",NaN,"-4,921,000,000","4,236,000,000","462,000,000","-16,106,000,000","-16,106,000,000","-2,803,000,000","-2,803,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-12,929,000,000","-34,913,000,000","21,984,000,000","-374,000,000","-28,159,000,000","-28,159,000,000","-1,000,000,000",0,NaN,0,"-1,000,000,000",NaN,NaN,"-20,478,000,000",NaN,"-20,478,000,000","-3,732,000,000","-3,732,000,000",NaN,"-2,949,000,000","38,630,000,000","2,701,000,000","35,929,000,000",NaN,"5,235,000,000","531,000,000","-2,803,000,000",NaN,NaN,0,"-20,478,000,000","44,163,000,000",2021-12-31
09/30/2021,"20,200,000,000","20,200,000,000","20,551,000,000",NaN,NaN,NaN,NaN,"2,989,000,000","2,989,000,000","-4,037,000,000","-4,037,000,000",NaN,"1,945,000,000",NaN,"542,000,000","-1,790,000,000","-17,604,000,000","-8,809,000,000","-1,429,000,000",NaN,"14,112,000,000","14,112,000,000",NaN,NaN,"14,112,000,000",NaN,"-2,143,000,000","5,336,000,000","-62,000,000","835,000,000","835,000,000","-3,223,000,000","-3,223,000,000",NaN,NaN,NaN,"-20,000,000","-20,000,000",NaN,"4,352,000,000","-15,506,000,000","19,858,000,000","-274,000,000","-20,382,000,000","-20,382,000,000","3,220,000,000","5,220,000,000","6,470,000,000","-1,250,000,000","-2,000,000,000",NaN,NaN,"-19,204,000,000","544,000,000","-19,748,000,000","-3,640,000,000","-3,640,000,000",NaN,"-758,000,000","35,929,000,000","653,000,000","35,276,000,000",NaN,"6,849,000,000","817,000,000","-3,223,000,000","544,000,000","6,470,000,000","-1,250,000,000","-19,748,000,000","16,977,000,000",2021-09-30
06/30/2021,"21,094,000,000","21,094,000,000","21,744,000,000",NaN,NaN,NaN,NaN,"2,832,000,000","2,832,000,000","-530,000,000","-530,000,000",NaN,"1,960,000,000",NaN,"-215,000,000","-4,697,000,000","-869,000,000","1,031,000,000","13,000,000",NaN,"211,000,000","211,000,000",NaN,NaN,"211,000,000",NaN,"-1,566,000,000","-2,582,000,000","96,000,000","3,572,000,000","3,572,000,000","-2,093,000,000","-2,093,000,000",NaN,NaN,NaN,"-4,000,000","-4,000,000",NaN,"5,747,000,000","-19,628,000,000","25,375,000,000",NaN,"-29,396,000,000","-29,396,000,000",0,"-3,000,000,000",0,"-3,000,000,000","3,000,000,000","3,000,000,000",NaN,"-22,900,000,000",0,"-22,900,000,000","-3,767,000,000","-3,767,000,000",NaN,"-2,729,000,000","35,276,000,000","-4,730,000,000","40,006,000,000",NaN,"8,260,000,000","543,000,000","-2,093,000,000",0,"-22,000,000","-3,000,000,000","-22,900,000,000","19,001,000,000",2021-06-30
03/31/2021,"23,981,000,000","23,981,000,000","23,630,000,000",NaN,NaN,NaN,NaN,"2,797,000,000","2,797,000,000","-149,000,000","-149,000,000",NaN,"1,981,000,000",NaN,"-499,000,000","-3,779,000,000","25,584,000,000","8,598,000,000","-276,000,000",NaN,"-23,667,000,000","-23,667,000,000",NaN,NaN,"-23,667,000,000",NaN,"-807,000,000","-4,914,000,000","301,000,000","-10,368,000,000","-10,368,000,000","-2,269,000,000","-2,269,000,000",NaN,NaN,NaN,0,0,NaN,"-7,895,000,000","-34,624,000,000","26,729,000,000",NaN,"-11,326,000,000","-11,326,000,000","10,423,000,000","10,423,000,000","13,923,000,000","-3,500,000,000",0,NaN,NaN,"-17,987,000,000","561,000,000","-18,548,000,000","-3,447,000,000","-3,447,000,000",NaN,"-315,000,000","40,006,000,000","2,287,000,000","37,719,000,000",NaN,"8,489,000,000","708,000,000","-2,269,000,000","561,000,000","13,945,000,000","-3,500,000,000","-18,548,000,000","21,712,000,000",2021-03-31
12/31/2020,"38,763,000,000","38,763,000,000","28,755,000,000",NaN,NaN,NaN,NaN,"2,666,000,000","2,666,000,000","-58,000,000","-58,000,000",NaN,"2,020,000,000",NaN,"25,000,000","5,355,000,000","-21,139,000,000","-10,945,000,000","-950,000,000",NaN,"21,670,000,000","21,670,000,000",NaN,NaN,"21,670,000,000",NaN,"-3,526,000,000","7,959,000,000","1,341,000,000","-8,584,000,000","-8,584,000,000","-3,500,000,000","-3,500,000,000",NaN,NaN,NaN,"-9,000,000","-9,000,000",NaN,"-5,279,000,000","-39,800,000,000","34,521,000,000","204,000,000","-32,249,000,000","-32,249,000,000","-978,000,000","-1,000,000,000",0,"-1,000,000,000","22,000,000",NaN,NaN,"-24,775,000,000",0,"-24,775,000,000","-3,613,000,000","-3,613,000,000",NaN,"-2,883,000,000","37,719,000,000","-2,070,000,000","39,789,000,000",NaN,"1,787,000,000","619,000,000","-3,500,000,000",0,0,"-1,000,000,000","-24,775,000,000","35,263,000,000",2020-12-31
09/30/2020,"20,576,000,000","20,576,000,000","12,673,000,000",NaN,NaN,NaN,NaN,"2,702,000,000","2,702,000,000","-397,000,000","-397,000,000",NaN,"1,724,000,000",NaN,"-3,000,000","3,877,000,000","-5,364,000,000","1,768,000,000","-137,000,000",NaN,"6,725,000,000","6,725,000,000",NaN,NaN,"6,725,000,000",NaN,"-2,828,000,000","5,049,000,000","432,000,000","5,531,000,000","5,531,000,000","-1,784,000,000","-1,784,000,000",NaN,NaN,NaN,"-51,000,000","-51,000,000",NaN,"7,468,000,000","-18,332,000,000","25,800,000,000","-102,000,000","-21,357,000,000","-21,357,000,000","4,462,000,000","5,456,000,000","5,456,000,000",0,"-994,000,000",NaN,NaN,"-16,737,000,000","450,000,000","-17,187,000,000","-3,511,000,000","-3,511,000,000",NaN,"-5,571,000,000","39,789,000,000","4,750,000,000","35,039,000,000",NaN,"1,091,000,000","727,000,000","-1,784,000,000","450,000,000","5,425,000,000","-963,000,000","-17,187,000,000","18,792,000,000",2020-09-30
06/30/2020,"16,271,000,000","16,271,000,000","11,253,000,000",NaN,NaN,NaN,NaN,"2,752,000,000","2,752,000,000","833,000,000","833,000,000",NaN,"1,698,000,000",NaN,"165,000,000","-430,000,000","-1,373,000,000","-2,135,000,000","-689,000,000",NaN,"2,733,000,000","2,733,000,000",NaN,NaN,"2,733,000,000",NaN,"2,106,000,000","-3,633,000,000","426,000,000","-5,165,000,000","-5,165,000,000","-1,565,000,000","-1,565,000,000",NaN,NaN,NaN,"-339,000,000","-339,000,000",NaN,"-2,998,000,000","-30,181,000,000","27,183,000,000","-263,000,000","-19,116,000,000","-19,116,000,000","-441,000,000","1,046,000,000","8,425,000,000","-7,379,000,000","-1,487,000,000","-1,487,000,000",NaN,"-15,891,000,000",0,"-15,891,000,000","-3,656,000,000","-3,656,000,000",NaN,"872,000,000","35,039,000,000","-8,010,000,000","43,049,000,000",NaN,"905,000,000","586,000,000","-1,565,000,000",0,"6,938,000,000","-7,379,000,000","-15,891,000,000","14,706,000,000",2020-06-30
03/31/2020,"13,311,000,000","13,311,000,000","11,249,000,000",NaN,NaN,NaN,NaN,"2,786,000,000","2,786,000,000","-302,000,000","-302,000,000",NaN,"1,697,000,000",NaN,"-117,000,000","-2,002,000,000","9,290,000,000","5,269,000,000","727,000,000",NaN,"-12,431,000,000","-12,431,000,000",NaN,NaN,"-12,431,000,000",NaN,"-1,812,000,000","1,986,000,000","238,000,000","9,013,000,000","9,013,000,000","-1,853,000,000","-1,853,000,000",NaN,NaN,NaN,"-176,000,000","-176,000,000",NaN,"11,338,000,000","-29,142,000,000","40,480,000,000","-296,000,000","-20,940,000,000","-20,940,000,000","-1,753,000,000","-4,250,000,000",0,"-4,250,000,000","2,497,000,000",NaN,NaN,"-18,146,000,000","428,000,000","-18,574,000,000","-3,375,000,000","-3,375,000,000",NaN,"2,334,000,000","43,049,000,000","1,384,000,000","41,665,000,000",NaN,"3,112,000,000","918,000,000","-1,853,000,000","428,000,000","1,518,000,000","-4,250,000,000","-18,574,000,000","11,458,000,000",2020-03-31
12/31/2019,"30,516,000,000","30,516,000,000","22,236,000,000",NaN,NaN,NaN,NaN,"2,816,000,000","2,816,000,000","-349,000,000","-349,000,000",NaN,"1,710,000,000",NaN,"-142,000,000","4,245,000,000","5,917,000,000","2,015,000,000","-28,000,000",NaN,"-1,089,000,000","-1,089,000,000",NaN,NaN,"-1,089,000,000",NaN,"-7,054,000,000","5,514,000,000","985,000,000","-13,668,000,000","-13,668,000,000","-2,107,000,000","-2,107,000,000",NaN,NaN,NaN,"-958,000,000","-958,000,000",NaN,"-10,473,000,000","-37,493,000,000","27,020,000,000","-130,000,000","-25,407,000,000","-25,407,000,000","231,000,000","1,210,000,000","2,210,000,000","-1,000,000,000","-979,000,000",NaN,NaN,"-20,704,000,000","2,000,000","-20,706,000,000","-3,539,000,000","-3,539,000,000",NaN,"-1,395,000,000","41,665,000,000","-8,559,000,000","50,224,000,000",NaN,"4,393,000,000","771,000,000","-2,107,000,000","2,000,000","2,210,000,000","-1,000,000,000","-20,706,000,000","28,409,000,000",2019-12-31
09/30/2019,"19,910,000,000","19,910,000,000","13,686,000,000",NaN,NaN,NaN,NaN,"3,179,000,000","3,179,000,000","-302,000,000","-302,000,000",NaN,"1,499,000,000",NaN,"-312,000,000","2,160,000,000","-19,320,000,000","-8,768,000,000","-785,000,000",NaN,"17,881,000,000","17,881,000,000",NaN,NaN,"17,881,000,000",NaN,"180,000,000","4,053,000,000","151,000,000","-798,000,000","-798,000,000","-2,777,000,000","-2,777,000,000",NaN,NaN,NaN,"-13,000,000","-13,000,000",NaN,"2,802,000,000","-18,097,000,000","20,899,000,000","-810,000,000","-21,039,000,000","-21,039,000,000","-293,000,000","3,658,000,000","6,963,000,000","-3,305,000,000","-3,951,000,000",NaN,NaN,"-17,054,000,000","390,000,000","-17,444,000,000","-3,479,000,000","-3,479,000,000",NaN,"-213,000,000","50,224,000,000","-1,927,000,000","52,151,000,000",NaN,"3,468,000,000","860,000,000","-2,777,000,000","390,000,000","6,963,000,000","-3,305,000,000","-17,444,000,000","17,133,000,000",2019-09-30
06/30/2019,"11,636,000,000","11,636,000,000","10,044,000,000",NaN,NaN,NaN,NaN,"2,933,000,000","2,933,000,000","86,000,000","86,000,000",NaN,"1,496,000,000",NaN,"-125,000,000","-2,798,000,000","-214,000,000","919,000,000","1,502,000,000",NaN,"220,000,000","220,000,000",NaN,NaN,"220,000,000",NaN,"1,410,000,000","-5,480,000,000","-236,000,000","27,502,000,000","27,502,000,000","-2,000,000,000","-2,000,000,000",NaN,NaN,NaN,"-320,000,000","-320,000,000",NaN,"30,120,000,000","-8,190,000,000","38,310,000,000","-298,000,000","-26,804,000,000","-26,804,000,000","-5,026,000,000","-3,000,000,000",0,"-3,000,000,000",NaN,NaN,NaN,"-16,954,000,000","1,000,000","-16,955,000,000","-3,629,000,000","-3,629,000,000",NaN,"-1,195,000,000","52,151,000,000","12,334,000,000","39,817,000,000",NaN,"2,298,000,000","801,000,000","-2,000,000,000","1,000,000",0,"-3,000,000,000","-16,955,000,000","9,636,000,000",2019-06-30
03/31/2019,"11,155,000,000","11,155,000,000","11,561,000,000",NaN,NaN,NaN,NaN,"3,040,000,000","3,040,000,000","-177,000,000","-177,000,000",NaN,"1,514,000,000",NaN,"-161,000,000","-4,622,000,000","10,675,000,000","2,964,000,000","70,000,000",NaN,"-11,523,000,000","-11,523,000,000",NaN,NaN,"-11,523,000,000",NaN,"169,000,000","-3,843,000,000","-170,000,000","13,348,000,000","13,348,000,000","-2,363,000,000","-2,363,000,000",NaN,NaN,NaN,"-124,000,000","-124,000,000",NaN,"15,749,000,000","-6,840,000,000","22,589,000,000","86,000,000","-29,457,000,000","-29,457,000,000","-2,506,000,000","-2,500,000,000",0,NaN,NaN,NaN,NaN,"-23,312,000,000",NaN,"-23,702,000,000","-3,443,000,000","-3,443,000,000",NaN,"-196,000,000","39,817,000,000","-4,954,000,000","44,771,000,000",NaN,"4,581,000,000","926,000,000","-2,363,000,000",NaN,0,NaN,"-23,702,000,000","8,792,000,000",2019-03-31
12/31/2018,"26,690,000,000","26,690,000,000","19,965,000,000",NaN,NaN,NaN,NaN,"3,395,000,000","3,395,000,000","53,000,000","53,000,000",NaN,"1,559,000,000",NaN,"-54,000,000","1,772,000,000","12,035,000,000","5,130,000,000","-1,076,000,000",NaN,"-8,501,000,000","-8,501,000,000",NaN,NaN,"-8,501,000,000",NaN,"-886,000,000","570,000,000","-370,000,000","5,844,000,000","5,844,000,000","-3,355,000,000","-3,355,000,000",NaN,NaN,NaN,"-167,000,000","-167,000,000",NaN,"9,422,000,000","-7,504,000,000","16,926,000,000","-56,000,000","-13,676,000,000","-13,676,000,000","6,000,000",0,0,NaN,"6,000,000",NaN,NaN,"-8,796,000,000",NaN,"-8,796,000,000","-3,568,000,000","-3,568,000,000",NaN,"-1,318,000,000","44,771,000,000","18,858,000,000","25,913,000,000",NaN,"4,916,000,000","836,000,000","-3,355,000,000",NaN,0,NaN,"-8,796,000,000","23,335,000,000",2018-12-31
09/30/2018,"19,523,000,000","19,523,000,000","14,125,000,000",NaN,NaN,NaN,NaN,"2,754,000,000","2,754,000,000","519,000,000","519,000,000",NaN,"1,345,000,000",NaN,"-34,000,000","814,000,000","-22,624,000,000","-9,078,000,000","1,942,000,000",NaN,"20,314,000,000","20,314,000,000",NaN,NaN,"20,314,000,000",NaN,"-358,000,000","1,481,000,000","59,000,000","-3,001,000,000","-3,001,000,000","-3,041,000,000","-3,041,000,000",NaN,NaN,NaN,"-290,000,000","-290,000,000",NaN,"552,000,000","-15,306,000,000","15,858,000,000","-222,000,000","-22,580,000,000","-22,580,000,000","-27,000,000",0,0,0,"-27,000,000",NaN,NaN,"-18,763,000,000","341,000,000","-19,104,000,000","-3,530,000,000","-3,530,000,000",NaN,"-260,000,000","25,913,000,000","-6,058,000,000","31,971,000,000",NaN,"1,598,000,000","902,000,000","-3,041,000,000","341,000,000",0,0,"-19,104,000,000","16,482,000,000",2018-09-30

In [486]:
aapl_cashflow_df = aapl_cashflow_df.set_index('Date')

In [487]:
aapl_cashflow_df

name,OperatingCashFlow,\tCashFlowFromContinuingOperatingActivities,\t\tNetIncomeFromContinuingOperations,\t\tOperatingGainsLosses,\t\t\tGainLossOnSaleOfBusiness,\t\t\tGainLossOnSaleOfPPE,\t\t\tGainLossOnInvestmentSecurities,\t\tDepreciationAmortizationDepletion,\t\t\tDepreciationAndAmortization,\t\tDeferredTax,\t\t\tDeferredIncomeTax,\t\tUnrealizedGainLossOnInvestmentSecurities,\t\tStockBasedCompensation,\t\tExcessTaxBenefitFromStockBasedCompensation,\t\tOtherNonCashItems,\t\tChangeInWorkingCapital,\t\t\tChangeInReceivables,\t\t\t\tChangesInAccountReceivables,\t\t\tChangeInInventory,\t\t\tChangeInPrepaidAssets,\t\t\tChangeInPayablesAndAccruedExpense,\t\t\t\tChangeInPayable,\t\t\t\t\tChangeInTaxPayable,\t\t\t\t\t\tChangeInIncomeTaxPayable,\t\t\t\t\tChangeInAccountPayable,\t\t\t\tChangeInAccruedExpense,\t\t\tChangeInOtherCurrentAssets,\t\t\tChangeInOtherCurrentLiabilities,\t\t\tChangeInOtherWorkingCapital,InvestingCashFlow,\tCashFlowFromContinuingInvestingActivities,\t\tNetPPEPurchaseAndSale,\t\t\tPurchaseOfPPE,\t\t\tSaleOfPPE,\t\tNetIntangiblesPurchaseAndSale,\t\t\tPurchaseOfIntangibles,\t\tNetBusinessPurchaseAndSale,\t\t\tPurchaseOfBusiness,\t\t\tSaleOfBusiness,\t\tNetInvestmentPurchaseAndSale,\t\t\tPurchaseOfInvestment,\t\t\tSaleOfInvestment,\t\tNetOtherInvestingChanges,FinancingCashFlow,\tCashFlowFromContinuingFinancingActivities,\t\tNetIssuancePaymentsOfDebt,\t\t\tNetLongTermDebtIssuance,\t\t\t\tLongTermDebtIssuance,\t\t\t\tLongTermDebtPayments,\t\t\tNetShortTermDebtIssuance,\t\t\t\tShortTermDebtIssuance,\t\t\t\tShortTermDebtPayments,\t\tNetCommonStockIssuance,\t\t\tCommonStockIssuance,\t\t\tCommonStockPayments,\t\tCashDividendsPaid,\t\t\tCommonStockDividendPaid,\t\tProceedsFromStockOptionExercised,\t\tNetOtherFinancingCharges,EndCashPosition,\tChangesInCash,\tBeginningCashPosition,\tOtherCashAdjustmentOutsideChangeinCash,IncomeTaxPaidSupplementalData,InterestPaidSupplementalData,CapitalExpenditure,IssuanceOfCapitalStock,IssuanceOfDebt,RepaymentOfDebt,RepurchaseOfCapitalStock,FreeCashFlow
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2023-03-31,"28,560,000,000","28,560,000,000","24,160,000,000",NaN,NaN,NaN,NaN,"2,898,000,000","2,898,000,000",NaN,NaN,NaN,"2,686,000,000",NaN,"-1,415,000,000","231,000,000","17,786,000,000","5,321,000,000","-741,000,000",NaN,"-14,689,000,000","-14,689,000,000",NaN,NaN,"-14,689,000,000",NaN,"7,000,000","-2,001,000,000",NaN,"2,319,000,000","2,319,000,000","-2,916,000,000","-2,916,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"5,341,000,000","-6,044,000,000","11,385,000,000","-106,000,000","-25,724,000,000","-25,724,000,000","-1,996,000,000","-2,250,000,000",NaN,"-2,250,000,000","254,000,000",NaN,NaN,"-19,594,000,000",NaN,"-19,594,000,000","-3,650,000,000","-3,650,000,000",NaN,"-484,000,000","27,129,000,000","5,155,000,000","21,974,000,000",NaN,"4,066,000,000","1,170,000,000","-2,916,000,000",NaN,NaN,"5,964,000,000","-19,594,000,000","25,644,000,000"
2022-12-31,"34,005,000,000","34,005,000,000","29,998,000,000",NaN,NaN,NaN,NaN,"2,916,000,000","2,916,000,000",NaN,NaN,NaN,"2,905,000,000",NaN,"-317,000,000","-1,497,000,000","6,595,000,000","4,275,000,000","-1,807,000,000",NaN,"-6,075,000,000","-6,075,000,000",NaN,NaN,"-6,075,000,000",NaN,"-4,099,000,000","3,758,000,000","131,000,000","-1,445,000,000","-1,445,000,000","-3,787,000,000","-3,787,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"2,483,000,000","-5,153,000,000","7,636,000,000","-141,000,000","-35,563,000,000","-35,563,000,000","-9,615,000,000","-1,401,000,000",NaN,"-1,401,000,000","-8,214,000,000",NaN,"-8,214,000,000","-19,475,000,000",NaN,"-19,475,000,000","-3,768,000,000","-3,768,000,000",NaN,"-2,705,000,000","21,974,000,000","-3,003,000,000","24,977,000,000",NaN,"828,000,000","703,000,000","-3,787,000,000",NaN,NaN,"-9,615,000,000","-19,475,000,000","30,218,000,000"
2022-09-30,"24,127,000,000","24,127,000,000","20,721,000,000",NaN,NaN,NaN,NaN,"2,865,000,000","2,865,000,000","-1,861,000,000","-1,861,000,000",NaN,"2,278,000,000",NaN,"172,000,000","-48,000,000","-18,693,000,000","-6,384,000,000","435,000,000",NaN,"15,556,000,000","15,556,000,000",NaN,NaN,"15,556,000,000",NaN,"-3,210,000,000","5,646,000,000","218,000,000","-1,217,000,000","-1,217,000,000","-3,289,000,000","-3,289,000,000",NaN,NaN,NaN,"-137,000,000","-137,000,000",NaN,"2,806,000,000","-6,745,000,000","9,551,000,000","-597,000,000","-26,794,000,000","-26,794,000,000","1,657,000,000","2,672,000,000","5,465,000,000","-2,793,000,000","-1,015,000,000","-1,015,000,000",NaN,"-24,428,000,000",NaN,"-24,428,000,000","-3,703,000,000","-3,703,000,000",NaN,"-320,000,000","24,977,000,000","-3,884,000,000","28,861,000,000",NaN,"7,322,000,000","955,000,000","-3,289,000,000",NaN,"4,450,000,000","-2,793,000,000","-24,428,000,000","20,838,000,000"
2022-06-30,"22,892,000,000","22,892,000,000","19,442,000,000",NaN,NaN,NaN,NaN,"2,805,000,000","2,805,000,000","1,668,000,000","1,668,000,000",NaN,"2,243,000,000",NaN,"-41,000,000","-3,225,000,000","3,165,000,000","-981,000,000","-16,000,000",NaN,"-4,358,000,000","-4,358,000,000",NaN,NaN,"-4,358,000,000",NaN,"253,000,000","-1,902,000,000","-367,000,000","4,234,000,000","4,234,000,000","-2,102,000,000","-2,102,000,000",NaN,NaN,NaN,"-2,000,000","-2,000,000",NaN,"6,953,000,000","-8,191,000,000","15,144,000,000","-615,000,000","-27,445,000,000","-27,445,000,000","971,000,000","-3,000,000,000",0,"-3,000,000,000","3,971,000,000","3,971,000,000",NaN,"-21,865,000,000",NaN,"-21,865,000,000","-3,811,000,000","-3,811,000,000",NaN,"-2,740,000,000","28,861,000,000","-319,000,000","29,180,000,000",NaN,"2,950,000,000","504,000,000","-2,102,000,000",NaN,"3,971,000,000","-3,000,000,000","-21,865,000,000","20,790,000,000"
2022-03-31,"28,166,000,000","28,166,000,000","25,010,000,000",NaN,NaN,NaN,NaN,"2,737,000,000","2,737,000,000","406,000,000","406,000,000",NaN,"2,252,000,000",NaN,"-187,000,000","-2,052,000,000","19,931,000,000","9,476,000,000","384,000,000",NaN,"-21,563,000,000","-21,563,000,000",NaN,NaN,"-21,563,000,000",NaN,"1,379,000,000","-2,348,000,000","165,000,000","-9,265,000,000","-9,265,000,000","-2,514,000,000","-2,514,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-6,390,000,000","-27,074,000,000","20,684,000,000","-194,000,000","-28,351,000,000","-28,351,000,000","-1,751,000,000","-3,750,000,000",NaN,"-3,750,000,000","1,999,000,000",NaN,NaN,"-22,631,000,000",NaN,"-22,631,000,000","-3,595,000,000","-3,595,000,000",NaN,"-374,000,000","29,180,000,000","-9,450,000,000","38,630,000,000",NaN,"4,066,000,000","875,000,000","-2,514,000,000",NaN,NaN,"-3,750,000,000","-22,631,000,000","25,652,000,000"
2021-12-31,"46,966,000,000","46,966,000,000","34,630,000,000",NaN,NaN,NaN,NaN,"2,697,000,000","2,697,000,000","682,000,000","682,000,000",NaN,"2,265,000,000",NaN,"167,000,000","6,525,000,000","-13,746,000,000","-3,934,000,000","681,000,000",NaN,"19,813,000,000","19,813,000,000",NaN,NaN,"19,813,000,000",NaN,"-4,921,000,000","4,236,000,000","462,000,000","-16,106,000,000","-16,106,000,000","-2,803,000,000","-2,803,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-12,929,000,000","-34,913,000,000","21,984,000,000","-374,000,000","-28,159,000,000","-28,159,000,000","-1,000,000,000",0,NaN,0,"-1,000,000,000",NaN,NaN,"-20,478,000,000",NaN,"-20,478,000,000","-3,732,000,000","-3,732,000,000",NaN,"-2,949,000,000","38,630,000,000","2,701,000,000","35,929,000,000",NaN,"5,235,000,000","531,000,000","-2,803,000,000",NaN,NaN,0,"-20,478,000,000","44,163,000,000"
2021-09-30,"20,200,000,000","20,200,000,000","20,551,000,000",NaN,NaN,NaN,NaN,"2,989,000,000","2,989,000,000","-4,037,000,000","-4,037,000,000",NaN,"1,945,000,000",NaN,"542,000,000","-1,790,000,000","-17,604,000,000","-8,809,000,000","-1,429,000,000",NaN,"14,112,000,000","14,112,000,000",NaN,NaN,"14,112,000,000",NaN,"-2,143,000,000","5,336,000,000","-62,000,000","835,000,000","835,000,000","-3,223,000,000","-3,223,000,000",NaN,NaN,NaN,"-20,000,000","-20,000,000",NaN,"4,352,000,000","-15,506,000,000","19,858,000,000","-274,000,000","-20,382,000,000","-20,382,000,000","3,220,000,000","5,220,000,000","6,470,000,000","-1,250,000,000","-2,000,000,000",NaN,NaN,"-19,204,000,000","544,000,000","-19,748,000,000","-3,640,000,000","-3,640,000,000",NaN,"-758,000,000","35,929,000,000","653,000,000","35,276,000,000",NaN,"6,849,000,000","817,000,000","-3,223,000,000","544,000,000","6,470,000,000","-1,250,000,000","-19,748,000,000","16,977,000,000"
2021-06-30,"21,094,000,000","21,094,000,000","21,744,000,000",NaN,NaN,NaN,NaN,"2,832,000,000","2,832,000,000","-530,000,000","-530,000,000",NaN,"1,960,000,000",NaN,"-215,000,000","-4,697,000,000","-869,000,000","1,031,000,000","13,000,000",NaN,"211,000,000","211,000,000",NaN,NaN,"211,000,000",NaN,"-1,566,000,000","-2,582,000,000","96,000,000","3,572,000,000","3,572,000,000","-2,093,000,000","-2,093,000,000",NaN,NaN,NaN,"-4,000,000","-4,000,000",NaN,"5,747,000,000","-19,628,000,000","25,375,000,000",NaN,"-29,396,000,000","-29,396,000,000",0,"-3,000,000,000",0,"-3,000,000,000","3,000,000,000","3,000,000,000",NaN,"-22,900,000,000",0,"-22,900,000,000","-3,767,000,000","-3,767,000,000",NaN,"-2,729,000,000","35,276,000,000","-4,730,000,000","40,006,000,000",NaN,"8,260,000,000","543,000,000","-2,093,000,000",0,"-22,000,000","-3,000,000,000","-22,900,000,000","19,001,000,000"
2021-03-31,"23,981,000,000","23,981,000,000","23,630,000,000",NaN,NaN,NaN,NaN,"2,797,000,000","2,797,000,000","-149,000,000","-149,000,000",NaN,"1,981,000,000",NaN,"-499,000,000","-3,779,000,000","25,584,000,000","8,598,000,000","-276,000,000",NaN,"-23,667,000,000","-23,667,000,000",NaN,NaN,"-23,667,000,000",NaN,"-807,000,000","-4,914,000,000","301,000,000","-10,368,000,000","-10,368,000,000","-2,269,000,000","-2,269,000,000",NaN,NaN,NaN,0,0,NaN,"-7,895,000,000","-34,624,000,000","26,729,000,000",NaN,"-11,326,000,000","-11,326,000,000","10,423,000,000","10,423,000,000","13,923,000,000","-3,500,000,000",0,NaN,NaN,"-17,987,000,000","561,000,000","-18,548,000,000","-3,447,000,000","-3,447,000,000",NaN,"-315,000,000","40,006,000,000","2,287,000,000","37,719,000,000",NaN,"8,489,000,000","708,000,000","-2,269,000,000","561,000,000","13,945,000,000","-3,500,000,000","-18,548,000,000","21,712,000,000"
2020-12-31,"38,763,000,000","38,763,000,000","28,755,000,000",NaN,NaN,NaN,NaN,"2,666,000,000","2,666,000,000","-58,000,000","-58,000,000",NaN,"2,020,000,000",NaN,"25,000,000","5,355,000,000","-21,139,000,000","-10,945,000,000","-950,000,000",NaN,"21,670,000,000","21,670,000,000",NaN,NaN,"21,670,000,000",NaN,"-3,526,000,000","7,959,000,000","1,341,000,000","-8,584,000,000","-8,584,000,000","-3,500,000,000","-3,500,000,000",NaN,NaN,NaN,"-9,000,000","-9,000,000",NaN,"-5,279,000,000","-39,800,000,000","34,521,000,000","204,000,000","-32,249,000,000","-32,249,000,000","-978,000,000","-1,000,000,000",0,"-1,000,000,000","22,000,000",NaN,NaN,"-24,775,000,000",0,"-24,775,000,000","-3,613,000,000","-3,613,000,000",NaN,"-2,883,000,000","37,719,000,000","-2,070,000,000","39,789,000,000",NaN,"1,787,000,000","619,000,000","-3,500,000,000",0,0,"-1,000,000,000","-24,775,000,000","35,263,000,000"
2020-09-30,"20,576,000,000","20,576,000,000","12,673,000,000",NaN,NaN,NaN,NaN,"2,702,000,000","2,702,000,000","-397,000,000","-397,000,000",NaN,"1,724,000,000",NaN,"-3,000,000","3,877,000,000","-5,364,000,000","1,768,000,000","-137,000,000",NaN,"6,725,000,000","6,725,000,000",NaN,NaN,"6,725,000,000",NaN,"-2,828,000,000","5,049,000,000","432,000,000","5,531,000,000","5,531,000,000","-1,784,000,000","-1,784,000,000",NaN,NaN,NaN,"-51,000,000","-51,000,000",NaN,"7,468,000,000","-18,332,000,000","25,800,000,000","-102,000,000","-21,357,000,000","-21,357,000,000","4,462,000,000","5,456,000,000","5,456,000,000",0,"-994,000,000",NaN,NaN,"-16,737,000,000","450,000,000","-17,187,000,000","-3,511,000,000","-3,511,000,000",NaN,"-5,571,000,000","39,789,000,000","4,750,000,000","35,039,000,000",NaN,"1,091,000,000","727,000,000","-1,784,000,000","450,000,000","5,425,000,000","-963,000,000","-17,187,000,000","18,792,000,000"
2020-06-30,"16,271,000,000","16,271,000,000","11,253,000,000",NaN,NaN,NaN,NaN,"2,752,000,000","2,752,000,000","833,000,000","833,000,000",NaN,"1,698,000,000",NaN,"165,000,000","-430,000,000","-1,373,000,000","-2,135,000,000","-689,000,000",NaN,"2,733,000,000","2,733,000,000",NaN,NaN,"2,733,000,000",NaN,"2,106,000,000","-3,633,000,000","426,000,000","-5,165,000,000","-5,165,000,000","-1,565,000,000","-1,565,000,000",NaN,NaN,NaN,"-339,000,000","-339,000,000",NaN,"-2,998,000,000","-30,181,000,000","27,183,000,000","-263,000,000","-19,116,000,000","-19,116,000,000","-441,000,000","1,046,000,000","8,425,000,000","-7,379,000,000","-1,487,000,000","-1,487,000,000",NaN,"-15,891,000,000",0,"-15,891,000,000","-3,656,000,000","-3,656,000,000",NaN,"872,000,000","35,039,000,000","-8,010,000,000","43,049,000,000",NaN,"905,000,000","586,000,000","-1,565,000,000",0,"6,938,000,000","-7,379,000,000","-15,891,000,000","14,706,000,000"
2020-03-31,"13,311,000,000","13,311,000,000","11,249,000,000",NaN,NaN,NaN,NaN,"2,786,000,000","2,786,000,000","-302,000,000","-302,000,000",NaN,"1,697,000,000",NaN,"-117,000,000","-2,002,000,000","9,290,000,000","5,269,000,000","727,000,000",NaN,"-12,431,000,000","-12,431,000,000",NaN,NaN,"-12,431,000,000",NaN,"-1,812,000,000","1,986,000,000","238,000,000","9,013,000,000","9,013,000,000","-1,853,000,000","-1,853,000,000",NaN,NaN,NaN,"-176,000,000","-176,000,000",NaN,"11,338,000,000","-29,142,000,000","40,480,000,000","-296,000,000","-20,940,000,000","-20,940,000,000","-1,753,000,000","-4,250,000,000",0,"-4,250,000,000","2,497,000,000",NaN,NaN,"-18,146,000,000","428,000,000","-18,574,000,000","-3,375,000,000","-3,375,000,000",NaN,"2,334,000,000","43,049,000,000","1,384,000,000","41,665,000,000",NaN,"3,112,000,000","918,000,000","-1,853,000,000","428,000,000","1,518,000,000","-4,250,000,000","-18,574,000,000","11,458,000,000"
2019-12-31,"30,516,000,000","30,516,000,000","22,236,000,000",NaN,NaN,NaN,NaN,"2,816,000,000","2,816,000,000","-349,000,000","-349,000,000",NaN,"1,710,000,000",NaN,"-142,000,000","4,245,000,000","5,917,000,000","2,015,000,000","-28,000,000",NaN,"-1,089,000,000","-1,089,000,000",NaN,NaN,"-1,089,000,000",NaN,"-7,054,000,000","5,514,000,000","985,000,000","-13,668,000,000","-13,668,000,000","-2,107,000,000","-2,107,000,000",NaN,NaN,NaN,"-958,000,000","-958,000,000",NaN,"-10,473,000,000","-37,493,000,000","27,020,000,000","-130,000,000","-25,407,000,000","-25,407,000,000","231,000,000","1,210,000,000","2,210,000,000","-1,000,000,000","-979,000,000",NaN,NaN,"-20,704,000,000","2,000,000","-20,706,000,000","-3,539,000,000","-3,539,000,000",NaN,"-1,395,000,000","41,665,000,000","-8,559,000,000","50,224,000,000",NaN,"4,393,000,000","771,000,000","-2,107,000,000","2,000,000","2,210,000,000","-1,000,000,000","-20,706,000,000","28,409,000,000"
2019-09-30,"19,910,000,000","19,910,000,000","13,686,000,000",NaN,NaN,NaN,NaN,"3,179,000,000","3,179,000,000","-302,000,000","-302,000,000",NaN,"1,499,000,000",NaN,"-312,000,000","2,160,000,000","-19,320,000,000","-8,768,000,000","-785,000,000",NaN,"17,881,000,000","17,881,000,000",NaN,NaN,"17,881,000,000",NaN,"180,000,000","4,053,000,000","151,000,000","-798,000,000","-798,000,000","-2,777,000,000","-2,777,000,000",NaN,NaN,NaN,"-13,000,000","-13,000,000",NaN,"2,802,000,000","-18,097,000,000","20,899,000,000","-810,000,000","-21,039,000,000","-21,039,000,000","-293,000,000","3,658,000,000","6,963,000,000","-3,305,000,000","-3,951,000,000",NaN,NaN,"-17,054,000,000","390,000,000","-17,444,000,000","-3,479,000,000","-3,479,000,000",NaN,"-213,000,000","50,224,000,000","-1,927,000,000","52,151,000,000",NaN,"3,468,000,000","860,000,000","-2,777,000,000","390,000,000","6,963,000,000","-3,305,000,000","-17,444,000,000","17,133,000,000"
2019-06-30,"11,636,000,000","11,636,000,000","10,044,000,000",NaN,NaN,NaN,NaN,"2,933,000,000","2,933,000,000","86,000,000","86,000,000",NaN,"1,496,000,000",NaN,"-125,000,000","-2,798,000,000","-214,000,000","919,000,000","1,502,000,000",NaN,"220,000,000","220,000,000",NaN,NaN,"220,000,000",NaN,"1,410,000,000","-5,480,000,000","-236,000,000","27,502,000,000","27,502,000,000","-2,000,000,000","-2,000,000,000",NaN,NaN,NaN,"-320,000,000","-320,000,000",NaN,"30,120,000,000","-8,190,000,000","38,310,000,000","-298,000,000","-26,804,000,000","-26,804,000,000","-5,026,000,000","-3,000,000,000",0,"-3,000,000,000",NaN,NaN,NaN,"-16,954,000,000","1,000,000","-16,955,000,000","-3,629,000,000","-3,629,000,000",NaN,"-1,195,000,000","52,151,000,000","12,334,000,000","39,817,000,000",NaN,"2,298,000,000","801,000,000","-2,000,000,000","1,000,000",0,"-3,000,000,000","-16,955,000,000","9,636,000,000"
2019-03-31,"11,155,000,000","11,155,000,000","11,561,000,000",NaN,NaN,NaN,NaN,"3,040,000,000","3,040,000,000","-177,000,000","-177,000,000",NaN,"1,514,000,000",NaN,"-161,000,000","-4,622,000,000","10,675,000,000","2,964,000,000","70,000,000",NaN,"-11,523,000,000","-11,523,000,000",NaN,NaN,"-11,523,000,000",NaN,"169,000,000","-3,843,000,000","-170,000,000","13,348,000,000","13,348,000,000","-2,363,000,000","-2,363,000,000",NaN,NaN,NaN,"-124,000,000","-124,000,000",NaN,"15,749,000,000","-6,840,000,000","22,589,000,000","86,000,000","-29,457,000,000","-29,457,000,000","-2,506,000,000","-2,500,000,000",0,NaN,NaN,NaN,NaN,"-23,312,000,000",NaN,"-23,702,000,000","-3,443,000,000","-3,443,000,000",NaN,"-196,000,000","39,817,000,000","-4,954,000,000","44,771,000,000",NaN,"4,581,000,000","926,000,000","-2,363,000,000",NaN,0,NaN,"-23,702,000,000","8,792,000,000"
2018-12-31,"26,690,000,000","26,690,000,000","19,965,000,000",NaN,NaN,NaN,NaN,"3,395,000,000","3,395,000,000","53,000,000","53,000,000",NaN,"1,559,000,000",NaN,"-54,000,000","1,772,000,000","12,035,000,000","5,130,000,000","-1,076,000,000",NaN,"-8,501,000,000","-8,501,000,000",NaN,NaN,"-8,501,000,000",NaN,"-886,000,000","570,000,000","-370,000,000","5,844,000,000","5,844,000,000","-3,355,000,000","-3,355,000,000",NaN,NaN,NaN,"-167,000,000","-167,000,000",NaN,"9,422,000,000","-7,504,000,000","16,926,000,000","-56,000,000","-13,676,000,000","-13,676,000,000","6,000,000",0,0,NaN,"6,000,000",NaN,NaN,"-8,796,000,000",NaN,"-8,796,000,000","-3,568,000,000","-3,568,000,000",NaN,"-1,318,000,000","44,771,000,000","18,858,000,000","25,913,000,000",NaN,"4,916,000,000","836,000,000","-3,355,000,000",NaN,0,NaN,"-8,796,000,000","23,335,000,000"
2018-09-30,"19,523,000,000","19,523,000,000","14,125,000,000",NaN,NaN,NaN,NaN,"2,754,000,000","2,754,000,000","519,000,000","519,000,000",NaN,"1,345,000,000",NaN,"-34,000,000","814,000,000","-22,624,000,000","-9,078,000,000","1,942,000,000",NaN,"20,314,000,000","20,314,000,000",NaN,NaN,"20,314,000,000",NaN,"-358,000,000","1,481,000,000","59,000,000","-3,001,000,000","-3,001,000,000","-3,041,000,000","-3,041,000,000",NaN,NaN,NaN,"-290,000,000","-290,000,000",NaN,"552,000,000","-15,306,000,000","15,858,000,000","-222,000,000","-22,580,000,000","-22,580,000,000","-27,000,000",0,0,0,"-27,000,000",NaN,NaN,"-18,763,000,000","341,000,000","-19,104,000,000","-3,530,000,000","-3,530,000,000",NaN,"-260,000,000","25,913,000,000","-6,058,000,000","31,971,000,000",NaN,"1,598,000,000","902,000,000","-3,041,000,000","341,000,000",0,0,"-19,104,000,000","16,482,000,000"

In [488]:
aapl_cashflow_df.index

Index(['2023-03-31', '2022-12-31', '2022-09-30', '2022-06-30', '2022-03-31',
       '2021-12-31', '2021-09-30', '2021-06-30', '2021-03-31', '2020-12-31',
       ...
       '1992-03-31', '1991-12-31', '1991-09-30', '1991-06-30', '1991-03-31',
       '1990-12-31', '1990-09-30', '1990-06-30', '1990-03-31', '1989-12-31'],
      dtype='object', name='Date', length=134)

In [489]:
# Balance Sheet for AAPL
aapl_balance_df = pd.read_csv(
    Path("AAPL_quarterly_balance-sheet.csv"), 
     index_col = 'name',
    parse_dates=True,
    infer_datetime_format=True).T

aapl_balance_df.head()

name,TotalAssets,\tCurrentAssets,\t\tCashCashEquivalentsAndShortTermInvestments,\t\t\tCashAndCashEquivalents,\t\t\t\tCashFinancial,\t\t\t\tCashEquivalents,\t\t\tOtherShortTermInvestments,\t\tReceivables,\t\t\tAccountsReceivable,\t\t\t\tGrossAccountsReceivable,\t\t\t\tAllowanceForDoubtfulAccountsReceivable,\t\t\tOtherReceivables,\t\t\tReceivablesAdjustmentsAllowances,\t\tInventory,\t\t\tRawMaterials,\t\t\tWorkInProcess,\t\t\tFinishedGoods,\t\t\tOtherInventories,\t\tPrepaidAssets,\t\tCurrentDeferredAssets,\t\t\tCurrentDeferredTaxesAssets,\t\tOtherCurrentAssets,\tTotalNonCurrentAssets,\t\tNetPPE,\t\t\tGrossPPE,\t\t\t\tProperties,\t\t\t\tLandAndImprovements,\t\t\t\tBuildingsAndImprovements,\t\t\t\tMachineryFurnitureEquipment,\t\t\t\tOtherProperties,\t\t\t\tLeases,\t\t\tAccumulatedDepreciation,\t\tGoodwillAndOtherIntangibleAssets,\t\t\tGoodwill,\t\t\tOtherIntangibleAssets,\t\tInvestmentsAndAdvances,\t\t\tInvestmentinFinancialAssets,\t\t\t\tAvailableForSaleSecurities,\t\t\tOtherInvestments,\t\tNonCurrentDeferredAssets,\t\t\tNonCurrentDeferredTaxesAssets,\t\tNonCurrentPrepaidAssets,\t\tOtherNonCurrentAssets,TotalLiabilitiesNetMinorityInterest,\tCurrentLiabilities,\t\tPayablesAndAccruedExpenses,\t\t\tPayables,\t\t\t\tAccountsPayable,\t\t\t\tTotalTaxPayable,\t\t\t\t\tIncomeTaxPayable,\t\t\t\tOtherPayable,\t\t\tCurrentAccruedExpenses,\t\tPensionandOtherPostRetirementBenefitPlansCurrent,\t\tCurrentDebtAndCapitalLeaseObligation,\t\t\tCurrentDebt,\t\t\t\tCurrentNotesPayable,\t\t\t\tCommercialPaper,\t\t\t\tOtherCurrentBorrowings,\t\tCurrentDeferredLiabilities,\t\t\tCurrentDeferredTaxesLiabilities,\t\t\tCurrentDeferredRevenue,\t\tOtherCurrentLiabilities,\tTotalNonCurrentLiabilitiesNetMinorityInterest,\t\tLongTermDebtAndCapitalLeaseObligation,\t\t\tLongTermDebt,\t\tNonCurrentDeferredLiabilities,\t\t\tNonCurrentDeferredTaxesLiabilities,\t\t\tNonCurrentDeferredRevenue,\t\tTradeandOtherPayablesNonCurrent,\t\tOtherNonCurrentLiabilities,TotalEquityGrossMinorityInterest,\tStockholdersEquity,\t\tCapitalStock,\t\t\tPreferredStock,\t\t\tCommonStock,\t\tAdditionalPaidInCapital,\t\tRetainedEarnings,\t\tGainsLossesNotAffectingRetainedEarnings,\t\t\tForeignCurrencyTranslationAdjustments,\t\t\tOtherEquityAdjustments,\t\tOtherEquityInterest,TotalCapitalization,PreferredStockEquity,CommonStockEquity,NetTangibleAssets,WorkingCapital,InvestedCapital,TangibleBookValue,TotalDebt,NetDebt,ShareIssued,OrdinarySharesNumber
03/31/2023,"332,160,000,000","112,913,000,000","55,872,000,000","24,687,000,000","20,050,000,000","4,637,000,000","31,185,000,000","35,899,000,000","17,936,000,000",NaN,NaN,"17,963,000,000",NaN,"7,482,000,000","3,379,000,000",NaN,"4,103,000,000",NaN,NaN,NaN,NaN,"13,660,000,000","219,247,000,000","43,398,000,000","113,066,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-69,668,000,000",NaN,NaN,NaN,"110,461,000,000","110,461,000,000","110,461,000,000",NaN,NaN,NaN,NaN,"65,388,000,000","270,002,000,000","120,075,000,000","42,945,000,000","42,945,000,000","42,945,000,000",NaN,NaN,NaN,NaN,NaN,"12,574,000,000","12,574,000,000",NaN,"1,996,000,000","10,578,000,000","8,131,000,000",NaN,"8,131,000,000","56,425,000,000","149,927,000,000","97,041,000,000","97,041,000,000",NaN,NaN,NaN,NaN,"52,886,000,000","62,158,000,000","62,158,000,000","69,568,000,000",NaN,"69,568,000,000",NaN,"4,336,000,000","-11,746,000,000",NaN,"-11,746,000,000",NaN,"159,199,000,000",NaN,"62,158,000,000","62,158,000,000","-7,162,000,000","171,773,000,000","62,158,000,000","109,615,000,000","84,928,000,000","15,723,406,000","15,723,406,000"
12/31/2022,"346,747,000,000","128,777,000,000","51,355,000,000","20,535,000,000","17,908,000,000","2,627,000,000","30,820,000,000","54,180,000,000","23,752,000,000",NaN,NaN,"30,428,000,000",NaN,"6,820,000,000","2,513,000,000",NaN,"4,307,000,000",NaN,NaN,NaN,NaN,"16,422,000,000","217,970,000,000","42,951,000,000","110,995,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-68,044,000,000",NaN,NaN,NaN,"114,095,000,000",NaN,NaN,"114,095,000,000",NaN,NaN,NaN,"60,924,000,000","290,020,000,000","137,286,000,000","57,918,000,000","57,918,000,000","57,918,000,000",NaN,NaN,NaN,NaN,NaN,"11,483,000,000","11,483,000,000",NaN,"1,743,000,000","9,740,000,000","7,992,000,000",NaN,"7,992,000,000","59,893,000,000","152,734,000,000","99,627,000,000","99,627,000,000",NaN,NaN,NaN,NaN,"53,107,000,000","56,727,000,000","56,727,000,000","66,399,000,000",NaN,"66,399,000,000",NaN,"3,240,000,000","-12,912,000,000",NaN,NaN,NaN,"156,354,000,000",NaN,"56,727,000,000","56,727,000,000","-8,509,000,000","167,837,000,000","56,727,000,000","111,110,000,000","90,575,000,000","15,842,407,000","15,842,407,000"
09/30/2022,"352,755,000,000","135,405,000,000","48,304,000,000","23,646,000,000","18,546,000,000","5,100,000,000","24,658,000,000","60,932,000,000","28,184,000,000",NaN,NaN,"32,748,000,000",NaN,"4,946,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"21,223,000,000","217,350,000,000","42,117,000,000","114,457,000,000",0,"22,126,000,000",NaN,"81,060,000,000",NaN,"11,271,000,000","-72,340,000,000",NaN,NaN,NaN,"120,805,000,000","120,805,000,000","120,805,000,000","120,805,000,000",NaN,NaN,NaN,"54,428,000,000","302,083,000,000","153,982,000,000","64,115,000,000","64,115,000,000","64,115,000,000",NaN,NaN,NaN,NaN,NaN,"21,110,000,000","21,110,000,000",NaN,"9,982,000,000","11,128,000,000","7,912,000,000",NaN,"7,912,000,000","60,845,000,000","148,101,000,000","98,959,000,000","98,959,000,000",NaN,NaN,NaN,"16,657,000,000","49,142,000,000","50,672,000,000","50,672,000,000","64,849,000,000",NaN,"64,849,000,000",NaN,"-3,068,000,000","-11,109,000,000",NaN,NaN,NaN,"149,631,000,000",NaN,"50,672,000,000","50,672,000,000","-18,577,000,000","170,741,000,000","50,672,000,000","120,069,000,000","96,423,000,000","15,943,425,000","15,943,425,000"
06/30/2022,"336,309,000,000","112,292,000,000","48,231,000,000","27,502,000,000","12,852,000,000","14,650,000,000","20,729,000,000","42,242,000,000","21,803,000,000",NaN,NaN,"20,439,000,000",NaN,"5,433,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"16,386,000,000","224,017,000,000","40,335,000,000","111,851,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-71,516,000,000",NaN,NaN,NaN,"131,077,000,000","131,077,000,000","131,077,000,000","131,077,000,000",NaN,NaN,NaN,"52,605,000,000","278,202,000,000","129,873,000,000","48,343,000,000","48,343,000,000","48,343,000,000",NaN,NaN,NaN,NaN,NaN,"24,991,000,000","24,991,000,000",NaN,"10,982,000,000","14,009,000,000","7,728,000,000",NaN,"7,728,000,000","48,811,000,000","148,329,000,000","94,700,000,000","94,700,000,000",NaN,NaN,NaN,"20,699,000,000","53,629,000,000","58,107,000,000","58,107,000,000","62,115,000,000",NaN,"62,115,000,000",NaN,"5,289,000,000","-9,297,000,000",NaN,NaN,NaN,"152,807,000,000",NaN,"58,107,000,000","58,107,000,000","-17,581,000,000","177,798,000,000","58,107,000,000","119,691,000,000","92,189,000,000","16,095,378,000","16,095,378,000"
03/31/2022,"350,662,000,000","118,180,000,000","51,511,000,000","28,098,000,000","14,298,000,000","13,800,000,000","23,413,000,000","45,400,000,000","20,815,000,000",NaN,NaN,"24,585,000,000",NaN,"5,460,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15,809,000,000","232,482,000,000","39,304,000,000","109,324,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-70,020,000,000",NaN,NaN,NaN,"141,219,000,000","141,219,000,000","141,219,000,000","141,219,000,000",NaN,NaN,NaN,"51,959,000,000","283,263,000,000","127,508,000,000","52,682,000,000","52,682,000,000","52,682,000,000",NaN,NaN,NaN,NaN,NaN,"16,658,000,000","16,658,000,000",NaN,"6,999,000,000","9,659,000,000","7,920,000,000",NaN,"7,920,000,000","50,248,000,000","155,755,000,000","103,323,000,000","103,323,000,000",NaN,NaN,NaN,"20,711,000,000","52,432,000,000","67,399,000,000","67,399,000,000","61,181,000,000",NaN,"61,181,000,000",NaN,"12,712,000,000","-6,494,000,000",NaN,NaN,NaN,"170,722,000,000",NaN,"67,399,000,000","67,399,000,000","-9,328,000,000","187,380,000,000","67,399,000,000","119,981,000,000","91,883,000,000","16,207,568,000","16,207,568,000"

In [490]:
aapl_balance_df['Date'] = pd.to_datetime(aapl_balance_df.index).strftime('%Y-%m-%d')

In [491]:
aapl_balance_df.head()

name,TotalAssets,\tCurrentAssets,\t\tCashCashEquivalentsAndShortTermInvestments,\t\t\tCashAndCashEquivalents,\t\t\t\tCashFinancial,\t\t\t\tCashEquivalents,\t\t\tOtherShortTermInvestments,\t\tReceivables,\t\t\tAccountsReceivable,\t\t\t\tGrossAccountsReceivable,\t\t\t\tAllowanceForDoubtfulAccountsReceivable,\t\t\tOtherReceivables,\t\t\tReceivablesAdjustmentsAllowances,\t\tInventory,\t\t\tRawMaterials,\t\t\tWorkInProcess,\t\t\tFinishedGoods,\t\t\tOtherInventories,\t\tPrepaidAssets,\t\tCurrentDeferredAssets,\t\t\tCurrentDeferredTaxesAssets,\t\tOtherCurrentAssets,\tTotalNonCurrentAssets,\t\tNetPPE,\t\t\tGrossPPE,\t\t\t\tProperties,\t\t\t\tLandAndImprovements,\t\t\t\tBuildingsAndImprovements,\t\t\t\tMachineryFurnitureEquipment,\t\t\t\tOtherProperties,\t\t\t\tLeases,\t\t\tAccumulatedDepreciation,\t\tGoodwillAndOtherIntangibleAssets,\t\t\tGoodwill,\t\t\tOtherIntangibleAssets,\t\tInvestmentsAndAdvances,\t\t\tInvestmentinFinancialAssets,\t\t\t\tAvailableForSaleSecurities,\t\t\tOtherInvestments,\t\tNonCurrentDeferredAssets,\t\t\tNonCurrentDeferredTaxesAssets,\t\tNonCurrentPrepaidAssets,\t\tOtherNonCurrentAssets,TotalLiabilitiesNetMinorityInterest,\tCurrentLiabilities,\t\tPayablesAndAccruedExpenses,\t\t\tPayables,\t\t\t\tAccountsPayable,\t\t\t\tTotalTaxPayable,\t\t\t\t\tIncomeTaxPayable,\t\t\t\tOtherPayable,\t\t\tCurrentAccruedExpenses,\t\tPensionandOtherPostRetirementBenefitPlansCurrent,\t\tCurrentDebtAndCapitalLeaseObligation,\t\t\tCurrentDebt,\t\t\t\tCurrentNotesPayable,\t\t\t\tCommercialPaper,\t\t\t\tOtherCurrentBorrowings,\t\tCurrentDeferredLiabilities,\t\t\tCurrentDeferredTaxesLiabilities,\t\t\tCurrentDeferredRevenue,\t\tOtherCurrentLiabilities,\tTotalNonCurrentLiabilitiesNetMinorityInterest,\t\tLongTermDebtAndCapitalLeaseObligation,\t\t\tLongTermDebt,\t\tNonCurrentDeferredLiabilities,\t\t\tNonCurrentDeferredTaxesLiabilities,\t\t\tNonCurrentDeferredRevenue,\t\tTradeandOtherPayablesNonCurrent,\t\tOtherNonCurrentLiabilities,TotalEquityGrossMinorityInterest,\tStockholdersEquity,\t\tCapitalStock,\t\t\tPreferredStock,\t\t\tCommonStock,\t\tAdditionalPaidInCapital,\t\tRetainedEarnings,\t\tGainsLossesNotAffectingRetainedEarnings,\t\t\tForeignCurrencyTranslationAdjustments,\t\t\tOtherEquityAdjustments,\t\tOtherEquityInterest,TotalCapitalization,PreferredStockEquity,CommonStockEquity,NetTangibleAssets,WorkingCapital,InvestedCapital,TangibleBookValue,TotalDebt,NetDebt,ShareIssued,OrdinarySharesNumber,Date
03/31/2023,"332,160,000,000","112,913,000,000","55,872,000,000","24,687,000,000","20,050,000,000","4,637,000,000","31,185,000,000","35,899,000,000","17,936,000,000",NaN,NaN,"17,963,000,000",NaN,"7,482,000,000","3,379,000,000",NaN,"4,103,000,000",NaN,NaN,NaN,NaN,"13,660,000,000","219,247,000,000","43,398,000,000","113,066,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-69,668,000,000",NaN,NaN,NaN,"110,461,000,000","110,461,000,000","110,461,000,000",NaN,NaN,NaN,NaN,"65,388,000,000","270,002,000,000","120,075,000,000","42,945,000,000","42,945,000,000","42,945,000,000",NaN,NaN,NaN,NaN,NaN,"12,574,000,000","12,574,000,000",NaN,"1,996,000,000","10,578,000,000","8,131,000,000",NaN,"8,131,000,000","56,425,000,000","149,927,000,000","97,041,000,000","97,041,000,000",NaN,NaN,NaN,NaN,"52,886,000,000","62,158,000,000","62,158,000,000","69,568,000,000",NaN,"69,568,000,000",NaN,"4,336,000,000","-11,746,000,000",NaN,"-11,746,000,000",NaN,"159,199,000,000",NaN,"62,158,000,000","62,158,000,000","-7,162,000,000","171,773,000,000","62,158,000,000","109,615,000,000","84,928,000,000","15,723,406,000","15,723,406,000",2023-03-31
12/31/2022,"346,747,000,000","128,777,000,000","51,355,000,000","20,535,000,000","17,908,000,000","2,627,000,000","30,820,000,000","54,180,000,000","23,752,000,000",NaN,NaN,"30,428,000,000",NaN,"6,820,000,000","2,513,000,000",NaN,"4,307,000,000",NaN,NaN,NaN,NaN,"16,422,000,000","217,970,000,000","42,951,000,000","110,995,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-68,044,000,000",NaN,NaN,NaN,"114,095,000,000",NaN,NaN,"114,095,000,000",NaN,NaN,NaN,"60,924,000,000","290,020,000,000","137,286,000,000","57,918,000,000","57,918,000,000","57,918,000,000",NaN,NaN,NaN,NaN,NaN,"11,483,000,000","11,483,000,000",NaN,"1,743,000,000","9,740,000,000","7,992,000,000",NaN,"7,992,000,000","59,893,000,000","152,734,000,000","99,627,000,000","99,627,000,000",NaN,NaN,NaN,NaN,"53,107,000,000","56,727,000,000","56,727,000,000","66,399,000,000",NaN,"66,399,000,000",NaN,"3,240,000,000","-12,912,000,000",NaN,NaN,NaN,"156,354,000,000",NaN,"56,727,000,000","56,727,000,000","-8,509,000,000","167,837,000,000","56,727,000,000","111,110,000,000","90,575,000,000","15,842,407,000","15,842,407,000",2022-12-31
09/30/2022,"352,755,000,000","135,405,000,000","48,304,000,000","23,646,000,000","18,546,000,000","5,100,000,000","24,658,000,000","60,932,000,000","28,184,000,000",NaN,NaN,"32,748,000,000",NaN,"4,946,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"21,223,000,000","217,350,000,000","42,117,000,000","114,457,000,000",0,"22,126,000,000",NaN,"81,060,000,000",NaN,"11,271,000,000","-72,340,000,000",NaN,NaN,NaN,"120,805,000,000","120,805,000,000","120,805,000,000","120,805,000,000",NaN,NaN,NaN,"54,428,000,000","302,083,000,000","153,982,000,000","64,115,000,000","64,115,000,000","64,115,000,000",NaN,NaN,NaN,NaN,NaN,"21,110,000,000","21,110,000,000",NaN,"9,982,000,000","11,128,000,000","7,912,000,000",NaN,"7,912,000,000","60,845,000,000","148,101,000,000","98,959,000,000","98,959,000,000",NaN,NaN,NaN,"16,657,000,000","49,142,000,000","50,672,000,000","50,672,000,000","64,849,000,000",NaN,"64,849,000,000",NaN,"-3,068,000,000","-11,109,000,000",NaN,NaN,NaN,"149,631,000,000",NaN,"50,672,000,000","50,672,000,000","-18,577,000,000","170,741,000,000","50,672,000,000","120,069,000,000","96,423,000,000","15,943,425,000","15,943,425,000",2022-09-30
06/30/2022,"336,309,000,000","112,292,000,000","48,231,000,000","27,502,000,000","12,852,000,000","14,650,000,000","20,729,000,000","42,242,000,000","21,803,000,000",NaN,NaN,"20,439,000,000",NaN,"5,433,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"16,386,000,000","224,017,000,000","40,335,000,000","111,851,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-71,516,000,000",NaN,NaN,NaN,"131,077,000,000","131,077,000,000","131,077,000,000","131,077,000,000",NaN,NaN,NaN,"52,605,000,000","278,202,000,000","129,873,000,000","48,343,000,000","48,343,000,000","48,343,000,000",NaN,NaN,NaN,NaN,NaN,"24,991,000,000","24,991,000,000",NaN,"10,982,000,000","14,009,000,000","7,728,000,000",NaN,"7,728,000,000","48,811,000,000","148,329,000,000","94,700,000,000","94,700,000,000",NaN,NaN,NaN,"20,699,000,000","53,629,000,000","58,107,000,000","58,107,000,000","62,115,000,000",NaN,"62,115,000,000",NaN,"5,289,000,000","-9,297,000,000",NaN,NaN,NaN,"152,807,000,000",NaN,"58,107,000,000","58,107,000,000","-17,581,000,000","177,798,000,000","58,107,000,000","119,691,000,000","92,189,000,000","16,095,378,000","16,095,378,000",2022-06-30
03/31/2022,"350,662,000,000","118,180,000,000","51,511,000,000","28,098,000,000","14,298,000,000","13,800,000,000","23,413,000,000","45,400,000,000","20,815,000,000",NaN,NaN,"24,585,000,000",NaN,"5,460,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15,809,000,000","232,482,000,000","39,304,000,000","109,324,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-70,020,000,000",NaN,NaN,NaN,"141,219,000,000","141,219,000,000","141,219,000,000","141,219,000,000",NaN,NaN,NaN,"51,959,000,000","283,263,000,000","127,508,000,000","52,682,000,000","52,682,000,000","52,682,000,000",NaN,NaN,NaN,NaN,NaN,"16,658,000,000","16,658,000,000",NaN,"6,999,000,000","9,659,000,000","7,920,000,000",NaN,"7,920,000,000","50,248,000,000","155,755,000,000","103,323,000,000","103,323,000,000",NaN,NaN,NaN,"20,711,000,000","52,432,000,000","67,399,000,000","67,399,000,000","61,181,000,000",NaN,"61,181,000,000",NaN,"12,712,000,000","-6,494,000,000",NaN,NaN,NaN,"170,722,000,000",NaN,"67,399,000,000","67,399,000,000","-9,328,000,000","187,380,000,000","67,399,000,000","119,981,000,000","91,883,000,000","16,207,568,000","16,207,568,000",2022-03-31

In [492]:
aapl_balance_df = aapl_balance_df.set_index('Date')

In [493]:
aapl_balance_df.head()

name,TotalAssets,\tCurrentAssets,\t\tCashCashEquivalentsAndShortTermInvestments,\t\t\tCashAndCashEquivalents,\t\t\t\tCashFinancial,\t\t\t\tCashEquivalents,\t\t\tOtherShortTermInvestments,\t\tReceivables,\t\t\tAccountsReceivable,\t\t\t\tGrossAccountsReceivable,\t\t\t\tAllowanceForDoubtfulAccountsReceivable,\t\t\tOtherReceivables,\t\t\tReceivablesAdjustmentsAllowances,\t\tInventory,\t\t\tRawMaterials,\t\t\tWorkInProcess,\t\t\tFinishedGoods,\t\t\tOtherInventories,\t\tPrepaidAssets,\t\tCurrentDeferredAssets,\t\t\tCurrentDeferredTaxesAssets,\t\tOtherCurrentAssets,\tTotalNonCurrentAssets,\t\tNetPPE,\t\t\tGrossPPE,\t\t\t\tProperties,\t\t\t\tLandAndImprovements,\t\t\t\tBuildingsAndImprovements,\t\t\t\tMachineryFurnitureEquipment,\t\t\t\tOtherProperties,\t\t\t\tLeases,\t\t\tAccumulatedDepreciation,\t\tGoodwillAndOtherIntangibleAssets,\t\t\tGoodwill,\t\t\tOtherIntangibleAssets,\t\tInvestmentsAndAdvances,\t\t\tInvestmentinFinancialAssets,\t\t\t\tAvailableForSaleSecurities,\t\t\tOtherInvestments,\t\tNonCurrentDeferredAssets,\t\t\tNonCurrentDeferredTaxesAssets,\t\tNonCurrentPrepaidAssets,\t\tOtherNonCurrentAssets,TotalLiabilitiesNetMinorityInterest,\tCurrentLiabilities,\t\tPayablesAndAccruedExpenses,\t\t\tPayables,\t\t\t\tAccountsPayable,\t\t\t\tTotalTaxPayable,\t\t\t\t\tIncomeTaxPayable,\t\t\t\tOtherPayable,\t\t\tCurrentAccruedExpenses,\t\tPensionandOtherPostRetirementBenefitPlansCurrent,\t\tCurrentDebtAndCapitalLeaseObligation,\t\t\tCurrentDebt,\t\t\t\tCurrentNotesPayable,\t\t\t\tCommercialPaper,\t\t\t\tOtherCurrentBorrowings,\t\tCurrentDeferredLiabilities,\t\t\tCurrentDeferredTaxesLiabilities,\t\t\tCurrentDeferredRevenue,\t\tOtherCurrentLiabilities,\tTotalNonCurrentLiabilitiesNetMinorityInterest,\t\tLongTermDebtAndCapitalLeaseObligation,\t\t\tLongTermDebt,\t\tNonCurrentDeferredLiabilities,\t\t\tNonCurrentDeferredTaxesLiabilities,\t\t\tNonCurrentDeferredRevenue,\t\tTradeandOtherPayablesNonCurrent,\t\tOtherNonCurrentLiabilities,TotalEquityGrossMinorityInterest,\tStockholdersEquity,\t\tCapitalStock,\t\t\tPreferredStock,\t\t\tCommonStock,\t\tAdditionalPaidInCapital,\t\tRetainedEarnings,\t\tGainsLossesNotAffectingRetainedEarnings,\t\t\tForeignCurrencyTranslationAdjustments,\t\t\tOtherEquityAdjustments,\t\tOtherEquityInterest,TotalCapitalization,PreferredStockEquity,CommonStockEquity,NetTangibleAssets,WorkingCapital,InvestedCapital,TangibleBookValue,TotalDebt,NetDebt,ShareIssued,OrdinarySharesNumber
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2023-03-31,"332,160,000,000","112,913,000,000","55,872,000,000","24,687,000,000","20,050,000,000","4,637,000,000","31,185,000,000","35,899,000,000","17,936,000,000",NaN,NaN,"17,963,000,000",NaN,"7,482,000,000","3,379,000,000",NaN,"4,103,000,000",NaN,NaN,NaN,NaN,"13,660,000,000","219,247,000,000","43,398,000,000","113,066,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-69,668,000,000",NaN,NaN,NaN,"110,461,000,000","110,461,000,000","110,461,000,000",NaN,NaN,NaN,NaN,"65,388,000,000","270,002,000,000","120,075,000,000","42,945,000,000","42,945,000,000","42,945,000,000",NaN,NaN,NaN,NaN,NaN,"12,574,000,000","12,574,000,000",NaN,"1,996,000,000","10,578,000,000","8,131,000,000",NaN,"8,131,000,000","56,425,000,000","149,927,000,000","97,041,000,000","97,041,000,000",NaN,NaN,NaN,NaN,"52,886,000,000","62,158,000,000","62,158,000,000","69,568,000,000",NaN,"69,568,000,000",NaN,"4,336,000,000","-11,746,000,000",NaN,"-11,746,000,000",NaN,"159,199,000,000",NaN,"62,158,000,000","62,158,000,000","-7,162,000,000","171,773,000,000","62,158,000,000","109,615,000,000","84,928,000,000","15,723,406,000","15,723,406,000"
2022-12-31,"346,747,000,000","128,777,000,000","51,355,000,000","20,535,000,000","17,908,000,000","2,627,000,000","30,820,000,000","54,180,000,000","23,752,000,000",NaN,NaN,"30,428,000,000",NaN,"6,820,000,000","2,513,000,000",NaN,"4,307,000,000",NaN,NaN,NaN,NaN,"16,422,000,000","217,970,000,000","42,951,000,000","110,995,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-68,044,000,000",NaN,NaN,NaN,"114,095,000,000",NaN,NaN,"114,095,000,000",NaN,NaN,NaN,"60,924,000,000","290,020,000,000","137,286,000,000","57,918,000,000","57,918,000,000","57,918,000,000",NaN,NaN,NaN,NaN,NaN,"11,483,000,000","11,483,000,000",NaN,"1,743,000,000","9,740,000,000","7,992,000,000",NaN,"7,992,000,000","59,893,000,000","152,734,000,000","99,627,000,000","99,627,000,000",NaN,NaN,NaN,NaN,"53,107,000,000","56,727,000,000","56,727,000,000","66,399,000,000",NaN,"66,399,000,000",NaN,"3,240,000,000","-12,912,000,000",NaN,NaN,NaN,"156,354,000,000",NaN,"56,727,000,000","56,727,000,000","-8,509,000,000","167,837,000,000","56,727,000,000","111,110,000,000","90,575,000,000","15,842,407,000","15,842,407,000"
2022-09-30,"352,755,000,000","135,405,000,000","48,304,000,000","23,646,000,000","18,546,000,000","5,100,000,000","24,658,000,000","60,932,000,000","28,184,000,000",NaN,NaN,"32,748,000,000",NaN,"4,946,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"21,223,000,000","217,350,000,000","42,117,000,000","114,457,000,000",0,"22,126,000,000",NaN,"81,060,000,000",NaN,"11,271,000,000","-72,340,000,000",NaN,NaN,NaN,"120,805,000,000","120,805,000,000","120,805,000,000","120,805,000,000",NaN,NaN,NaN,"54,428,000,000","302,083,000,000","153,982,000,000","64,115,000,000","64,115,000,000","64,115,000,000",NaN,NaN,NaN,NaN,NaN,"21,110,000,000","21,110,000,000",NaN,"9,982,000,000","11,128,000,000","7,912,000,000",NaN,"7,912,000,000","60,845,000,000","148,101,000,000","98,959,000,000","98,959,000,000",NaN,NaN,NaN,"16,657,000,000","49,142,000,000","50,672,000,000","50,672,000,000","64,849,000,000",NaN,"64,849,000,000",NaN,"-3,068,000,000","-11,109,000,000",NaN,NaN,NaN,"149,631,000,000",NaN,"50,672,000,000","50,672,000,000","-18,577,000,000","170,741,000,000","50,672,000,000","120,069,000,000","96,423,000,000","15,943,425,000","15,943,425,000"
2022-06-30,"336,309,000,000","112,292,000,000","48,231,000,000","27,502,000,000","12,852,000,000","14,650,000,000","20,729,000,000","42,242,000,000","21,803,000,000",NaN,NaN,"20,439,000,000",NaN,"5,433,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"16,386,000,000","224,017,000,000","40,335,000,000","111,851,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-71,516,000,000",NaN,NaN,NaN,"131,077,000,000","131,077,000,000","131,077,000,000","131,077,000,000",NaN,NaN,NaN,"52,605,000,000","278,202,000,000","129,873,000,000","48,343,000,000","48,343,000,000","48,343,000,000",NaN,NaN,NaN,NaN,NaN,"24,991,000,000","24,991,000,000",NaN,"10,982,000,000","14,009,000,000","7,728,000,000",NaN,"7,728,000,000","48,811,000,000","148,329,000,000","94,700,000,000","94,700,000,000",NaN,NaN,NaN,"20,699,000,000","53,629,000,000","58,107,000,000","58,107,000,000","62,115,000,000",NaN,"62,115,000,000",NaN,"5,289,000,000","-9,297,000,000",NaN,NaN,NaN,"152,807,000,000",NaN,"58,107,000,000","58,107,000,000","-17,581,000,000","177,798,000,000","58,107,000,000","119,691,000,000","92,189,000,000","16,095,378,000","16,095,378,000"
2022-03-31,"350,662,000,000","118,180,000,000","51,511,000,000","28,098,000,000","14,298,000,000","13,800,000,000","23,413,000,000","45,400,000,000","20,815,000,000",NaN,NaN,"24,585,000,000",NaN,"5,460,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15,809,000,000","232,482,000,000","39,304,000,000","109,324,000,000",NaN,NaN,NaN,NaN,NaN,NaN,"-70,020,000,000",NaN,NaN,NaN,"141,219,000,000","141,219,000,000","141,219,000,000","141,219,000,000",NaN,NaN,NaN,"51,959,000,000","283,263,000,000","127,508,000,000","52,682,000,000","52,682,000,000","52,682,000,000",NaN,NaN,NaN,NaN,NaN,"16,658,000,000","16,658,000,000",NaN,"6,999,000,000","9,659,000,000","7,920,000,000",NaN,"7,920,000,000","50,248,000,000","155,755,000,000","103,323,000,000","103,323,000,000",NaN,NaN,NaN,"20,711,000,000","52,432,000,000","67,399,000,000","67,399,000,000","61,181,000,000",NaN,"61,181,000,000",NaN,"12,712,000,000","-6,494,000,000",NaN,NaN,NaN,"170,722,000,000",NaN,"67,399,000,000","67,399,000,000","-9,328,000,000","187,380,000,000","67,399,000,000","119,981,000,000","91,883,000,000","16,207,568,000","16,207,568,000"

In [494]:
# Find CashFlow, Outstanding Shares, Total Debt
aapl_cash = aapl_cashflow_df['FreeCashFlow'] # Cash
aapl_debt = aapl_balance_df['TotalDebt'] # Debt
aapl_shares = aapl_balance_df['ShareIssued'] # Shares


display(aapl_cash)
display(aapl_debt)
display(aapl_shares)

Date
2023-03-31    25,644,000,000
2022-12-31    30,218,000,000
2022-09-30    20,838,000,000
2022-06-30    20,790,000,000
2022-03-31    25,652,000,000
2021-12-31    44,163,000,000
2021-09-30    16,977,000,000
2021-06-30    19,001,000,000
2021-03-31    21,712,000,000
2020-12-31    35,263,000,000
2020-09-30    18,792,000,000
2020-06-30    14,706,000,000
2020-03-31    11,458,000,000
2019-12-31    28,409,000,000
2019-09-30    17,133,000,000
2019-06-30     9,636,000,000
2019-03-31     8,792,000,000
2018-12-31    23,335,000,000
2018-09-30    16,482,000,000
2018-06-30    11,221,000,000
2018-03-31    11,089,000,000
2017-12-31    25,329,000,000
2017-09-30    11,656,000,000
2017-06-30     6,003,000,000
2017-03-31     9,508,000,000
2016-12-31    23,636,000,000
2016-09-30    12,088,000,000
2016-06-30     7,729,000,000
2016-03-31     9,002,000,000
2015-12-31    23,457,000,000
2015-09-30     9,817,000,000
2015-06-30    12,899,000,000
2015-03-31    16,605,000,000
2014-12-31    30,457,000,000
2014-09-30     9,398,000,000
2014-06-30     7,824,000,000
2014-03-31    12,052,000,000
2013-12-31    20,626,000,000
2013-09-30     7,602,000,000
2013-06-30     5,812,000,000
2013-03-31    10,205,000,000
2012-12-31    20,971,000,000
2012-09-30     5,635,000,000
2012-06-30     7,226,000,000
2012-03-31    12,468,000,000
2011-12-31    16,125,000,000
2011-09-30     5,858,000,000
2011-06-30    10,146,000,000
2011-03-31     5,563,000,000
2010-12-31     8,510,000,000
2010-09-30     4,870,000,000
2010-06-30     4,175,000,000
2010-03-31     2,029,000,000
2009-12-31     5,400,000,000
2009-09-30     2,638,000,000
2009-06-30     1,998,000,000
2009-03-31       725,000,000
2008-12-31     3,585,000,000
2008-09-30     3,873,000,000
2008-06-30       991,000,000
2008-03-31       978,000,000
2007-12-31     2,555,000,000
2007-09-30     1,462,000,000
2007-06-30       938,000,000
2007-03-31       528,000,000
2006-12-31     1,556,000,000
2006-09-30       910,000,000
2006-06-30       770,000,000
2006-03-31      -318,000,000
2005-12-31       201,000,000
2005-09-30       656,000,000
2005-06-30       409,000,000
2005-03-31       493,000,000
2004-12-31       717,000,000
2004-09-30       384,000,000
2004-06-30       173,000,000
2004-03-31        26,000,000
2003-12-31       175,000,000
2003-09-30        15,000,000
2003-06-30       -38,000,000
2003-03-31        58,000,000
2002-12-31        90,000,000
2002-09-30        18,000,000
2002-06-30       -68,000,000
2002-03-31       -41,000,000
2001-12-31         6,000,000
2001-09-30       112,000,000
2001-06-30       -63,000,000
2001-03-31       -61,000,000
2000-12-31       -35,000,000
2000-09-30       127,000,000
2000-06-30       223,000,000
2000-03-31        34,000,000
1999-12-31       335,000,000
1999-09-30       202,000,000
1999-06-30        81,000,000
1999-03-31       250,000,000
1998-12-31       218,000,000
1998-09-30       306,000,000
1998-06-30       138,000,000
1998-03-31       139,000,000
1997-12-31       136,000,000
1997-09-30       187,000,000
1997-06-30      -210,000,000
1997-03-31        84,000,000
1996-12-31        74,000,000
1996-09-30       395,000,000
1996-06-30       274,000,000
1996-03-31      -373,000,000
1995-12-31       156,000,000
1995-09-30      -722,000,000
1995-06-30       -85,000,000
1995-03-31       -23,000,000
1994-12-31       431,000,000
1994-09-30       205,826,000
1994-06-30       117,582,000
1994-03-31       -89,867,000
1993-12-31       343,867,000
1993-09-30      -447,500,000
1993-06-30      -360,600,000
1993-03-31      -101,300,000
1992-12-31        34,500,000
1992-09-30       -22,800,000
1992-06-30       178,200,000
1992-03-31       279,300,000
1991-12-31       254,100,000
1991-09-30         3,800,000
1991-06-30      -189,000,000
1991-03-31       -57,100,000
1990-12-31       152,700,000
1990-09-30        29,900,000
1990-06-30       251,000,000
1990-03-31       260,500,000
1989-12-31       198,200,000
Name: FreeCashFlow, dtype: object

Date
2023-03-31    109,615,000,000
2022-12-31    111,110,000,000
2022-09-30    120,069,000,000
2022-06-30    119,691,000,000
2022-03-31    119,981,000,000
2021-12-31    122,798,000,000
2021-09-30    124,719,000,000
2021-06-30    121,791,000,000
2021-03-31    121,645,000,000
2020-12-31    112,043,000,000
2020-09-30    112,436,000,000
2020-06-30    112,723,000,000
2020-03-31    109,507,000,000
2019-12-31    108,292,000,000
2019-09-30    108,047,000,000
2019-06-30    108,418,000,000
2019-03-31    112,630,000,000
2018-12-31    114,730,000,000
2018-09-30    114,483,000,000
2018-06-30    114,600,000,000
2018-03-31    121,840,000,000
2017-12-31    122,400,000,000
2017-09-30    115,680,000,000
2017-06-30    108,339,000,000
2017-03-31     98,522,000,000
2016-12-31     87,549,000,000
2016-09-30     87,032,000,000
2016-06-30     84,935,000,000
2016-03-31     79,872,000,000
2015-12-31     62,963,000,000
2015-09-30     64,462,000,000
2015-06-30     54,418,000,000
2015-03-31     43,871,000,000
2014-12-31     36,403,000,000
2014-09-30     35,295,000,000
2014-06-30     31,040,000,000
2014-03-31     16,962,000,000
2013-12-31     16,961,000,000
2013-09-30     16,960,000,000
2013-06-30     16,958,000,000
2013-03-31                NaN
2012-12-31                NaN
2012-09-30                NaN
2012-06-30                NaN
2012-03-31                NaN
2011-12-31                NaN
2011-09-30                NaN
2011-06-30                NaN
2011-03-31                NaN
2010-12-31                NaN
2010-09-30                NaN
2010-06-30                NaN
2010-03-31                NaN
2009-12-31                NaN
2009-09-30                NaN
2009-06-30                NaN
2009-03-31                NaN
2008-12-31                NaN
2008-09-30                NaN
2008-06-30                NaN
2008-03-31                NaN
2007-12-31                NaN
2007-09-30                NaN
2007-06-30                NaN
2007-03-31                NaN
2006-12-31                NaN
2006-09-30                NaN
2006-06-30                NaN
2006-03-31                NaN
2005-12-31                NaN
2005-09-30                NaN
2005-06-30                NaN
2005-03-31                NaN
2004-12-31                NaN
2004-09-30                NaN
2004-06-30                NaN
2004-03-31                NaN
2003-12-31        302,000,000
2003-09-30        304,000,000
2003-06-30        307,000,000
2003-03-31        310,000,000
2002-12-31        320,000,000
2002-09-30        316,000,000
2002-06-30        316,000,000
2002-03-31        311,000,000
2001-12-31        315,000,000
2001-09-30        317,000,000
2001-06-30        317,000,000
2001-03-31        317,000,000
2000-12-31        311,000,000
2000-09-30        300,000,000
2000-06-30        300,000,000
2000-03-31        300,000,000
1999-12-31        300,000,000
1999-09-30        300,000,000
1999-06-30        300,000,000
1999-03-31        955,000,000
1998-12-31        954,000,000
1998-09-30        954,000,000
1998-06-30        953,000,000
1998-03-31        976,000,000
1997-12-31        976,000,000
1997-09-30        976,000,000
1997-06-30      1,078,000,000
1997-03-31      1,085,000,000
1996-12-31      1,130,000,000
1996-09-30      1,135,000,000
1996-06-30      1,136,000,000
1996-03-31        655,000,000
1995-12-31        498,000,000
1995-09-30        764,000,000
1995-06-30        709,000,000
1995-03-31        931,000,000
1994-12-31        513,000,000
1994-09-30        596,672,000
1994-06-30        820,423,000
1994-03-31        795,600,000
1993-12-31        752,257,000
1993-09-30        823,200,000
1993-06-30        308,200,000
1993-03-31         59,900,000
1992-12-31        190,600,000
1992-09-30        184,500,000
1992-06-30        180,200,000
1992-03-31        136,300,000
1991-12-31         45,700,000
1991-09-30        148,600,000
1991-06-30        156,300,000
1991-03-31          6,000,000
1990-12-31         23,000,000
1990-09-30        122,600,000
1990-06-30         24,900,000
1990-03-31         20,000,000
1989-12-31         67,900,000
1989-09-30         56,800,000
1988-09-30        127,900,000
1987-09-30                NaN
1986-09-30                NaN
1985-09-30                NaN
Name: TotalDebt, dtype: object

Date
2023-03-31    15,723,406,000
2022-12-31    15,842,407,000
2022-09-30    15,943,425,000
2022-06-30    16,095,378,000
2022-03-31    16,207,568,000
2021-12-31    16,334,371,000
2021-09-30    16,426,786,000
2021-06-30    16,556,942,000
2021-03-31    16,686,305,000
2020-12-31    16,823,263,000
2020-09-30    16,976,763,000
2020-06-30    17,135,756,000
2020-03-31    17,295,948,000
2019-12-31    17,536,108,000
2019-09-30    17,772,944,000
2019-06-30    18,125,580,000
2019-03-31    18,429,136,000
2018-12-31    18,919,212,000
2018-09-30    19,019,944,000
2018-06-30    19,371,668,000
2018-03-31    19,773,128,000
2017-12-31    20,326,604,000
2017-09-30    20,504,804,000
2017-06-30    20,679,128,000
2017-03-31    20,823,260,000
2016-12-31    21,021,692,000
2016-09-30    21,344,664,000
2016-06-30    21,572,660,000
2016-03-31    21,913,784,000
2015-12-31    22,177,948,000
2015-09-30    22,315,012,000
2015-06-30    22,821,600,000
2015-03-31    23,049,112,000
2014-12-31    23,305,676,000
2014-09-30    23,464,644,000
2014-06-30    23,956,684,000
2014-03-31    24,128,860,000
2013-12-31    24,991,510,600
2013-09-30    25,177,964,000
2013-06-30    25,436,376,000
2013-03-31    26,322,632,000
2012-12-31    26,293,080,184
2012-09-30    26,297,824,000
2012-06-30    26,243,448,000
2012-03-31    26,179,496,000
2011-12-31    26,101,992,000
2011-09-30    26,019,756,000
2011-06-30    25,953,305,812
2011-03-31    25,890,874,212
2010-12-31    25,789,218,616
2010-09-30    25,647,161,400
2010-06-30    25,577,505,716
2010-03-31    25,469,802,708
2009-12-31    25,375,901,096
2009-09-30    25,194,554,000
2009-06-30    25,080,585,880
2009-03-31    24,979,075,352
2008-12-31    24,931,617,872
2008-09-30    24,890,183,444
2008-06-30    24,800,906,368
2008-03-31    24,680,068,084
2007-12-31    24,601,608,276
2007-09-30    24,425,211,216
2007-06-30    24,349,946,740
2007-03-31    24,218,544,644
2006-12-31    24,086,156,948
2006-09-30    23,947,351,904
2006-06-30    23,883,653,612
2006-03-31    23,777,268,396
2005-12-31    23,677,280,872
2005-09-30    23,380,542,192
2005-06-30    23,183,472,956
2005-03-31    23,047,828,944
2004-12-31    22,654,745,232
2004-09-30    21,920,842,552
2004-06-30    21,570,768,016
2004-03-31    20,879,898,816
2003-12-31    20,650,612,976
2003-09-30    20,536,688,704
2003-06-30    20,551,587,336
2003-03-31    20,470,535,008
2002-12-31    20,174,405,048
2002-09-30    20,101,703,384
2002-06-30    20,095,895,960
2002-03-31    19,828,768,904
2001-12-31    19,737,720,072
2001-09-30    19,651,613,016
2001-06-30    19,626,548,984
2001-03-31    19,406,293,872
2000-12-31    19,337,214,848
2000-09-30    18,797,905,784
2000-06-30    18,190,270,952
2000-03-31    18,220,160,000
1999-12-31    18,057,088,000
1999-09-30    18,009,488,000
1999-06-30    17,934,224,000
1999-03-31    15,305,584,000
1998-12-31    15,159,088,000
1998-09-30    15,141,616,000
1998-06-30    14,910,672,000
1998-03-31    14,894,992,000
1997-12-31    14,338,128,000
1997-09-30    14,330,288,000
1997-06-30    14,174,608,000
1997-03-31    14,159,600,000
1996-12-31    13,953,520,000
1996-09-30    13,943,664,000
1996-06-30    13,863,920,000
1996-03-31    13,852,720,000
1995-12-31    13,789,216,000
1995-09-30    13,767,264,000
1995-06-30    13,653,360,000
1995-03-31    13,562,416,000
1994-12-31    13,427,680,000
1994-09-30    13,388,816,000
1994-06-30    13,253,296,000
1994-03-31     3,307,920,000
1993-12-31    13,047,440,000
1993-09-30    13,008,464,000
1993-06-30    12,948,768,000
1993-03-31    13,058,640,000
1992-12-31    13,198,192,000
1992-09-30    13,269,648,000
1992-06-30    13,470,240,000
1992-03-31    13,403,040,000
1991-12-31    13,270,880,000
1991-09-30    13,259,232,000
1991-06-30    13,158,880,000
1991-03-31    13,323,072,000
1990-12-31    12,803,168,000
1990-09-30    12,920,208,000
1990-06-30    13,402,816,000
1990-03-31    13,639,696,000
1989-12-31    14,022,624,000
1989-09-30    14,142,240,000
1988-09-30    13,750,016,000
1987-09-30    14,121,856,000
1986-09-30    14,028,672,000
1985-09-30    13,854,400,000
Name: ShareIssued, dtype: object

In [495]:
aapl_debt.loc['2023-03-31']

'109,615,000,000'

In [496]:
aapl_1 = yf.download("AAPL", start='2023-03-31', end='2023-07-03', interval="1d")

aapl_1.shape[0]

[*********************100%***********************]  1 of 1 completed

63

In [497]:
aapl_1['Total Debt'] = aapl_debt.loc['2023-03-31']
aapl_1['Shares'] = aapl_shares.loc['2023-03-31']
aapl_1['Cash'] = aapl_cash.loc['2023-03-31']
aapl_1['EPS'] = 1.53
aapl_1['EBITDA'] = 32716

        
aapl_1.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2023-03-31,162.440002,165.000000,161.910004,164.899994,164.672226,68749800,"109,615,000,000","15,723,406,000","25,644,000,000",1.53,32716
2023-04-03,164.270004,166.289993,164.220001,166.169998,165.940475,56976200,"109,615,000,000","15,723,406,000","25,644,000,000",1.53,32716
2023-04-04,166.600006,166.839996,165.110001,165.630005,165.401230,46278300,"109,615,000,000","15,723,406,000","25,644,000,000",1.53,32716
2023-04-05,164.740005,165.050003,161.800003,163.759995,163.533798,51511700,"109,615,000,000","15,723,406,000","25,644,000,000",1.53,32716
2023-04-06,162.429993,164.960007,162.000000,164.660004,164.432556,45390100,"109,615,000,000","15,723,406,000","25,644,000,000",1.53,32716

In [498]:
aapl_2 = yf.download("AAPL", start='2022-12-31', end='2023-03-30', interval="1d")
aapl_2.shape[0]

[*********************100%***********************]  1 of 1 completed

60

In [499]:
aapl_2['Total Debt'] = aapl_debt.loc['2022-12-31']
aapl_2['Shares'] = aapl_shares.loc['2022-12-31']
aapl_2['Cash'] = aapl_cash.loc['2022-12-31']
aapl_2['EPS'] = 1.89
aapl_2['EBITDA'] = 38932

        
aapl_2.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.706833,112117500,"111,110,000,000","15,842,407,000","30,218,000,000",1.89,38932
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.993095,89113600,"111,110,000,000","15,842,407,000","30,218,000,000",1.89,38932
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.656982,80962700,"111,110,000,000","15,842,407,000","30,218,000,000",1.89,38932
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.243622,87754700,"111,110,000,000","15,842,407,000","30,218,000,000",1.89,38932
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.772079,70790800,"111,110,000,000","15,842,407,000","30,218,000,000",1.89,38932

In [500]:
aapl_3 = yf.download("AAPL", start='2022-09-30', end = '2022-12-30', interval="1d")
aapl_3.shape[0]

[*********************100%***********************]  1 of 1 completed

63

In [501]:
aapl_3['Total Debt'] = aapl_debt.loc['2022-09-30']
aapl_3['Shares'] = aapl_shares.loc['2022-09-30']
aapl_3['Cash'] = aapl_cash.loc['2022-09-30']
aapl_3['EPS'] = 1.29
aapl_3['EBITDA'] = 27759

aapl_3.shape[0]

63

In [502]:
aapl_4 = yf.download("AAPL", start='2022-06-30', end = '2022-09-29', interval="1d")
aapl_4.shape[0]

[*********************100%***********************]  1 of 1 completed

63

In [503]:
aapl_4['Total Debt'] = aapl_debt.loc['2022-06-30']
aapl_4['Shares'] = aapl_shares.loc['2022-06-30']
aapl_4['Cash'] = aapl_cash.loc['2022-06-30']
aapl_4['EPS'] = 1.20
aapl_4['EBITDA'] = 25881

aapl_4.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2022-06-30,137.250000,138.369995,133.770004,136.720001,135.908478,98964500,"119,691,000,000","16,095,378,000","20,790,000,000",1.2,25881
2022-07-01,136.039993,139.039993,135.660004,138.929993,138.105347,71051600,"119,691,000,000","16,095,378,000","20,790,000,000",1.2,25881
2022-07-05,137.770004,141.610001,136.929993,141.559998,140.719727,73353800,"119,691,000,000","16,095,378,000","20,790,000,000",1.2,25881
2022-07-06,141.350006,144.119995,141.080002,142.919998,142.071655,74064300,"119,691,000,000","16,095,378,000","20,790,000,000",1.2,25881
2022-07-07,143.289993,146.550003,143.279999,146.350006,145.481308,66253700,"119,691,000,000","16,095,378,000","20,790,000,000",1.2,25881

In [504]:
aapl_5 = yf.download("AAPL", start='2022-03-31', end = '2022-06-29', interval="1d")
aapl_5.shape[0]

[*********************100%***********************]  1 of 1 completed

61

In [505]:
aapl_5['Total Debt'] = aapl_debt.loc['2022-03-31']
aapl_5['Shares'] = aapl_shares.loc['2022-03-31']
aapl_5['Cash'] = aapl_cash.loc['2022-03-31']
aapl_5['EPS'] = 1.54
aapl_5['EBITDA'] = 32716

aapl_5.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2022-03-31,177.839996,178.029999,174.399994,174.610001,173.318909,103049300,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-01,174.029999,174.880005,171.940002,174.309998,173.021118,78751300,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-04,174.570007,178.490005,174.440002,178.440002,177.120590,76468400,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-05,177.500000,178.300003,174.419998,175.059998,173.765564,73401800,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-06,172.360001,173.630005,170.130005,171.830002,170.559464,89058800,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716

In [506]:
aapl_6 = yf.download("AAPL", start='2021-12-31', end = '2022-03-30', interval="1d")
aapl_6.shape[0]

[*********************100%***********************]  1 of 1 completed

61

In [507]:
aapl_6['Total Debt'] = aapl_debt.loc['2021-12-31']
aapl_6['Shares'] = aapl_shares.loc['2021-12-31']
aapl_6['Cash'] = aapl_cash.loc['2021-12-31']
aapl_6['EPS'] = 2.11
aapl_6['EBITDA'] = 44185

aapl_6.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2021-12-31,178.089996,179.229996,177.259995,177.570007,176.032730,64062300,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.434296,104487900,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-04,182.630005,182.940002,179.119995,179.699997,178.144287,99310400,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.405670,94537600,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.510956,96904000,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185

In [508]:
aapl_7 = yf.download("AAPL", start='2021-09-30', end = '2021-12-30', interval="1d")
aapl_7.shape[0]

[*********************100%***********************]  1 of 1 completed

63

In [512]:
aapl_7['Total Debt'] = aapl_debt.loc['2021-09-30']
aapl_7['Shares'] = aapl_shares.loc['2021-09-30']
aapl_7['Cash'] = aapl_cash.loc['2021-09-30']
aapl_7['EPS'] = 1.25
aapl_7['EBITDA'] = 26775

aapl_7.head()

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2021-09-30,143.660004,144.380005,141.279999,141.500000,140.070557,89056700,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-01,141.899994,142.919998,139.110001,142.649994,141.208969,94639600,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-04,141.759995,142.210007,138.270004,139.139999,137.734421,98322000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-05,139.490005,142.240005,139.360001,141.110001,139.684540,80861100,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-06,139.470001,142.149994,138.369995,142.000000,140.565521,83221100,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775

In [513]:
aapl_8 = yf.download("AAPL", start='2021-07-05', end = '2021-09-29', interval="1d")
aapl_8.shape[0]

[*********************100%***********************]  1 of 1 completed

60

In [514]:
aapl_8['Total Debt'] = aapl_debt.loc['2021-06-30']
aapl_8['Shares'] = aapl_shares.loc['2021-06-30']
aapl_8['Cash'] = aapl_cash.loc['2021-06-30']
aapl_8['EPS'] = 1.31
aapl_8['EBITDA'] = 26958

aapl_8

,Open,High,Low,Close,Adj Close,Volume,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,,,,,,
2021-07-06,140.070007,143.149994,140.070007,142.020004,140.375015,108181800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-07,143.539993,144.889999,142.660004,144.570007,142.895477,104911600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-08,141.580002,144.059998,140.669998,143.240005,141.580872,105575500,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-09,142.750000,145.649994,142.649994,145.110001,143.429214,99890800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-12,146.210007,146.320007,144.000000,144.500000,142.826279,76299700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-13,144.029999,147.460007,143.630005,145.639999,143.953064,100827100,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-14,148.100006,149.570007,147.679993,149.149994,147.422409,127050800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-15,149.240005,150.000000,147.089996,148.479996,146.760178,106820300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-16,148.460007,149.759995,145.880005,146.389999,144.694382,93251400,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-19,143.750000,144.070007,141.669998,142.449997,140.800034,121434600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-20,143.460007,147.100006,142.960007,146.149994,144.457184,96350000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-21,145.529999,146.130005,144.630005,145.399994,143.715836,74993500,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-22,145.940002,148.199997,145.809998,146.800003,145.099640,77338200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-23,147.550003,148.720001,146.919998,148.559998,146.839233,71447400,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-26,148.270004,149.830002,147.699997,148.990005,147.264282,72434100,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-27,149.119995,149.210007,145.550003,146.770004,145.069977,104818600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-28,144.809998,146.970001,142.539993,144.979996,143.300690,118931200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-29,144.690002,146.550003,144.580002,145.639999,143.953064,56699500,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-30,144.380005,146.330002,144.110001,145.860001,144.170532,70440600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-02,146.360001,146.949997,145.250000,145.520004,143.834457,62880000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-03,145.809998,148.039993,145.179993,147.360001,145.653183,64786600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-04,147.270004,147.789993,146.279999,146.949997,145.247910,56368300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-05,146.979996,147.839996,146.169998,147.059998,145.356613,46397700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-06,146.350006,147.110001,145.630005,146.139999,144.663712,54126800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-09,146.199997,146.699997,145.520004,146.089996,144.614212,48908700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-10,146.440002,147.710007,145.300003,145.600006,144.129150,69023100,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-11,146.050003,146.720001,145.529999,145.860001,144.386536,48493500,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-12,146.190002,149.050003,145.839996,148.889999,147.385910,72282600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-13,148.970001,149.440002,148.270004,149.100006,147.593781,59375000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-16,148.539993,151.190002,146.470001,151.119995,149.593384,103296000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-17,150.229996,151.679993,149.089996,150.190002,148.672806,92229700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-18,149.800003,150.720001,146.149994,146.360001,144.881485,86326000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-19,145.029999,148.000000,144.500000,146.699997,145.218033,86960300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-20,147.440002,148.500000,146.779999,148.190002,146.693008,60549600,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-23,148.309998,150.190002,147.889999,149.710007,148.197647,60131800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-24,149.449997,150.860001,149.149994,149.619995,148.108521,48606400,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-25,149.809998,150.320007,147.800003,148.360001,146.861267,58991300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-26,148.350006,149.119995,147.509995,147.539993,146.049576,48597200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-27,147.479996,148.750000,146.830002,148.600006,147.098846,55802400,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-30,149.000000,153.490005,148.610001,153.119995,151.573196,90956700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-31,152.660004,152.800003,151.289993,151.830002,150.296234,86453100,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-01,152.830002,154.979996,152.339996,152.509995,150.969330,80313700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-02,153.869995,154.720001,152.399994,153.649994,152.097824,71115500,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-03,153.759995,154.630005,153.089996,154.300003,152.741257,57808700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-07,154.970001,157.259995,154.389999,156.690002,155.107117,82278300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-08,156.979996,157.039993,153.979996,155.110001,153.543091,74420200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-09,155.490005,156.110001,153.949997,154.070007,152.513596,57305700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-10,155.000000,155.479996,148.699997,148.970001,147.465103,140893200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-13,150.630005,151.419998,148.750000,149.550003,148.039246,102404300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-14,150.350006,151.070007,146.910004,148.119995,146.623688,109296300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-15,148.559998,149.440002,146.369995,149.029999,147.524506,83281300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-16,148.440002,148.970001,147.220001,148.789993,147.286911,68034100,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-17,148.820007,148.820007,145.759995,146.059998,144.584518,129868800,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-20,143.800003,144.839996,141.270004,142.940002,141.496033,123478900,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-21,143.929993,144.600006,142.779999,143.429993,141.981064,75834000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-22,144.449997,146.429993,143.699997,145.850006,144.376633,76404300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-23,146.649994,147.080002,145.639999,146.830002,145.346741,64838200,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-24,145.660004,147.470001,145.559998,146.919998,145.435822,53477900,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-27,145.470001,145.960007,143.820007,145.369995,143.901459,74150700,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-28,143.250000,144.750000,141.690002,141.910004,140.476456,108972300,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958

In [515]:
aapl_df = aapl_8.append(aapl_7).append(aapl_6).append(aapl_5).append(aapl_4).append(aapl_3).append(aapl_2).append(aapl_1)
aapl_df.reset_index()
aapl_df.sort_values(by="Date", ascending = True)
aapl_df = aapl_df.drop(columns=["Open","High","Low","Adj Close", "Volume"])
aapl_df

,Close,Total Debt,Shares,Cash,EPS,EBITDA
Date,,,,,,
2021-07-06,142.020004,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-07,144.570007,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-08,143.240005,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-09,145.110001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-12,144.500000,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-13,145.639999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-14,149.149994,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-15,148.479996,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-16,146.389999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-19,142.449997,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-20,146.149994,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-21,145.399994,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-22,146.800003,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-23,148.559998,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-26,148.990005,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-27,146.770004,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-28,144.979996,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-29,145.639999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-07-30,145.860001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-02,145.520004,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-03,147.360001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-04,146.949997,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-05,147.059998,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-06,146.139999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-09,146.089996,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-10,145.600006,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-11,145.860001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-12,148.889999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-13,149.100006,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-16,151.119995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-17,150.190002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-18,146.360001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-19,146.699997,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-20,148.190002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-23,149.710007,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-24,149.619995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-25,148.360001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-26,147.539993,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-27,148.600006,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-30,153.119995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-08-31,151.830002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-01,152.509995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-02,153.649994,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-03,154.300003,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-07,156.690002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-08,155.110001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-09,154.070007,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-10,148.970001,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-13,149.550003,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-14,148.119995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-15,149.029999,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-16,148.789993,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-17,146.059998,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-20,142.940002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-21,143.429993,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-22,145.850006,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-23,146.830002,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-24,146.919998,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-27,145.369995,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-28,141.910004,"121,791,000,000","16,556,942,000","19,001,000,000",1.31,26958
2021-09-30,141.500000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-01,142.649994,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-04,139.139999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-05,141.110001,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-06,142.000000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-07,143.289993,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-08,142.899994,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-11,142.809998,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-12,141.509995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-13,140.910004,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-14,143.759995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-15,144.839996,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-18,146.550003,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-19,148.759995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-20,149.259995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-21,149.479996,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-22,148.690002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-25,148.639999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-26,149.320007,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-27,148.850006,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-28,152.570007,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-10-29,149.800003,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-01,148.960007,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-02,150.020004,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-03,151.490005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-04,150.960007,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-05,151.279999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-08,150.440002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-09,150.809998,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-10,147.919998,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-11,147.869995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-12,149.990005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-15,150.000000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-16,151.000000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-17,153.490005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-18,157.869995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-19,160.550003,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-22,161.020004,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-23,161.410004,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-24,161.940002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-26,156.809998,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-29,160.240005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-11-30,165.300003,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-01,164.770004,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-02,163.759995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-03,161.839996,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-06,165.320007,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-07,171.179993,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-08,175.080002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-09,174.559998,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-10,179.449997,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-13,175.740005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-14,174.330002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-15,179.300003,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-16,172.259995,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-17,171.139999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-20,169.750000,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-21,172.990005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-22,175.639999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-23,176.279999,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-27,180.330002,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-28,179.289993,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-29,179.380005,"124,719,000,000","16,426,786,000","16,977,000,000",1.25,26775
2021-12-31,177.570007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-03,182.009995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-04,179.699997,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-05,174.919998,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-06,172.000000,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-07,172.169998,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-10,172.190002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-11,175.080002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-12,175.529999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-13,172.190002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-14,173.070007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-18,169.800003,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-19,166.229996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-20,164.509995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-21,162.410004,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-24,161.619995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-25,159.779999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-26,159.690002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-27,159.220001,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-28,170.330002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-01-31,174.779999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-01,174.610001,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-02,175.839996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-03,172.899994,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-04,172.389999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-07,171.660004,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-08,174.830002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-09,176.279999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-10,172.119995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-11,168.639999,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-14,168.880005,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-15,172.789993,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-16,172.550003,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-17,168.880005,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-18,167.300003,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-22,164.320007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-23,160.070007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-24,162.740005,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-25,164.850006,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-02-28,165.119995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-01,163.199997,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-02,166.559998,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-03,166.229996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-04,163.169998,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-07,159.300003,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-08,157.440002,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-09,162.949997,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-10,158.520004,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-11,154.729996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-14,150.619995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-15,155.089996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-16,159.589996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-17,160.619995,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-18,163.979996,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-21,165.380005,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-22,168.820007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-23,170.210007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-24,174.070007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-25,174.720001,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-28,175.600006,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-29,178.960007,"122,798,000,000","16,334,371,000","44,163,000,000",2.11,44185
2022-03-31,174.610001,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-01,174.309998,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-04,178.440002,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-05,175.059998,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-06,171.830002,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-07,172.139999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-08,170.089996,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-11,165.750000,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-12,167.660004,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-13,170.399994,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-14,165.289993,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-18,165.070007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-19,167.399994,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-20,167.229996,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-21,166.419998,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-22,161.789993,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-25,162.880005,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-26,156.800003,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-27,156.570007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-28,163.639999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-04-29,157.649994,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-02,157.960007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-03,159.479996,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-04,166.020004,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-05,156.770004,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-06,157.279999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-09,152.059998,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-10,154.509995,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-11,146.500000,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-12,142.559998,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-13,147.110001,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-16,145.539993,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-17,149.240005,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-18,140.820007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-19,137.350006,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-20,137.589996,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-23,143.110001,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-24,140.360001,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-25,140.520004,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-26,143.779999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-27,149.639999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-05-31,148.839996,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-01,148.710007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-02,151.210007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-03,145.380005,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-06,146.139999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-07,148.710007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-08,147.960007,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-09,142.639999,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716
2022-06-10,137.130005,"119,981,000,000","16,207,568,000","25,652,000,000",1.54,32716

In [516]:
aapl_df.dtypes

Close         float64
Total Debt     object
Shares         object
Cash           object
EPS           float64
EBITDA          int64
dtype: object

In [517]:
aapl_df.shape[0]

494

In [518]:
aapl_df['Total Debt']= aapl_df['Total Debt'].str.replace(',','')
aapl_df['Shares']= aapl_df['Shares'].str.replace(',','')
aapl_df['Cash']= aapl_df['Cash'].str.replace(',','')

aapl_df.head()

                 Close    Total Debt       Shares         Cash   EPS  EBITDA
Date
2021-07-06  142.020004  121791000000  16556942000  19001000000  1.31   26958
2021-07-07  144.570007  121791000000  16556942000  19001000000  1.31   26958
2021-07-08  143.240005  121791000000  16556942000  19001000000  1.31   26958
2021-07-09  145.110001  121791000000  16556942000  19001000000  1.31   26958
2021-07-12  144.500000  121791000000  16556942000  19001000000  1.31   26958

In [519]:
aapl_df = aapl_df.astype(float)
aapl_df.dtypes

Close         float64
Total Debt    float64
Shares        float64
Cash          float64
EPS           float64
EBITDA        float64
dtype: object

In [520]:
for i in aapl_df:
    aapl_df['P/E'] = aapl_df['Close'] / aapl_df['EPS']
for y in aapl_df:
    aapl_df['EV'] = (aapl_df['Shares'] * aapl_df['Close']) + aapl_df['Total Debt'] - aapl_df['Cash']
for z in aapl_df:
    aapl_df["EV/EBITDA"] = aapl_df['EV'] / aapl_df['EBITDA']

In [521]:
aapl_df.head()

,Close,Total Debt,Shares,Cash,EPS,EBITDA,P/E,EV,EV/EBITDA
Date,,,,,,,,,
2021-07-06,142.020004,1.217910e+11,1.655694e+10,1.900100e+10,1.31,26958.0,108.412217,2.454207e+12,9.103817e+07
2021-07-07,144.570007,1.217910e+11,1.655694e+10,1.900100e+10,1.31,26958.0,110.358784,2.496427e+12,9.260432e+07
2021-07-08,143.240005,1.217910e+11,1.655694e+10,1.900100e+10,1.31,26958.0,109.343516,2.474406e+12,9.178746e+07
2021-07-09,145.110001,1.217910e+11,1.655694e+10,1.900100e+10,1.31,26958.0,110.770993,2.505368e+12,9.293597e+07
2021-07-12,144.500000,1.217910e+11,1.655694e+10,1.900100e+10,1.31,26958.0,110.305344,2.495268e+12,9.256132e+07

In [522]:
aapl_df = aapl_df.drop(columns = ['Total Debt', 'Shares', 'Cash', 'EV'])

In [523]:
aapl_df.head()
aapl_df.shape[0]

494

In [524]:
## Part Two: Find Daily Percent Change

In [525]:
aapl_df['Percent Change'] = aapl_df['Close'].pct_change()

In [526]:
aapl_df = aapl_df.dropna()

In [527]:
aapl_df.head()

,Close,EPS,EBITDA,P/E,EV/EBITDA,Percent Change
Date,,,,,,
2021-07-07,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955
2021-07-08,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200
2021-07-09,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055
2021-07-12,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204
2021-07-13,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889

In [528]:
aapl_df.tail()

,Close,EPS,EBITDA,P/E,EV/EBITDA,Percent Change
Date,,,,,,
2023-06-26,185.270004,1.53,32716.0,121.091506,9.160797e+07,-0.007553
2023-06-27,188.059998,1.53,32716.0,122.915031,9.294885e+07,0.015059
2023-06-28,189.250000,1.53,32716.0,123.692810,9.352077e+07,0.006328
2023-06-29,189.589996,1.53,32716.0,123.915030,9.368418e+07,0.001797
2023-06-30,193.970001,1.53,32716.0,126.777779,9.578922e+07,0.023103

In [529]:
## Part 4: Macro Data

In [530]:
treasury_df = pd.read_csv(
    Path("USTREASURY-YIELD.csv"),
    index_col = "Date"
)

In [531]:
treasury_df.tail()

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
1990-01-08,NaN,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09
1990-01-05,NaN,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06
1990-01-04,NaN,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04
1990-01-03,NaN,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04
1990-01-02,NaN,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00

In [532]:
treasury_df = treasury_df['2023-06-30' : '2021-07-07']

In [533]:
display(treasury_df.head())
display(treasury_df.tail())

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2023-06-30,5.24,5.39,5.43,5.47,5.40,4.87,4.49,4.13,3.97,3.81,4.06,3.85
2023-06-29,5.25,5.40,5.46,5.50,5.41,4.87,4.49,4.14,3.99,3.85,4.11,3.92
2023-06-28,5.17,5.32,5.44,5.47,5.32,4.71,4.32,3.97,3.83,3.71,4.00,3.81
2023-06-27,5.17,5.31,5.44,5.46,5.33,4.74,4.38,4.02,3.90,3.77,4.03,3.84
2023-06-26,5.17,5.31,5.50,5.45,5.27,4.65,4.30,3.96,3.85,3.72,4.01,3.83

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2021-07-13,0.05,0.05,0.05,0.06,0.08,0.26,0.47,0.85,1.16,1.42,1.96,2.04
2021-07-12,0.05,0.05,0.05,0.06,0.08,0.23,0.43,0.81,1.13,1.38,1.93,2.00
2021-07-09,0.06,0.05,0.06,0.05,0.08,0.23,0.41,0.79,1.12,1.37,1.91,1.99
2021-07-08,0.06,0.05,0.06,0.06,0.07,0.19,0.37,0.74,1.06,1.30,1.84,1.91
2021-07-07,0.05,0.05,0.05,0.05,0.08,0.22,0.41,0.79,1.09,1.33,1.87,1.94

In [534]:
treasury_df = treasury_df.drop(columns=['1 MO', '2 MO', '3 MO', '6 MO', '2 YR', '3 YR', '7 YR', '10 YR', '20 YR'])
trs_df = treasury_df

In [535]:
trs_df = treasury_df
trs_df.head()

            1 YR  5 YR  30 YR
Date
2023-06-30  5.40  4.13   3.85
2023-06-29  5.41  4.14   3.92
2023-06-28  5.32  3.97   3.81
2023-06-27  5.33  4.02   3.84
2023-06-26  5.27  3.96   3.83

In [536]:
trs_df = trs_df.reset_index(drop=True)

In [538]:
trs_df[-4:] = np.nan

In [539]:
trs_df.tail()

     1 YR  5 YR  30 YR
492  0.08  0.85   2.04
493   NaN   NaN    NaN
494   NaN   NaN    NaN
495   NaN   NaN    NaN
496   NaN   NaN    NaN

In [540]:
trs_df = trs_df.dropna()

In [543]:
trs_df.tail()

     1 YR  5 YR  30 YR
488  0.07  0.70   1.81
489  0.08  0.79   1.93
490  0.07  0.78   1.92
491  0.08  0.80   1.98
492  0.08  0.85   2.04

In [544]:
results = aapl_df
results.dtypes

Close             float64
EPS               float64
EBITDA            float64
P/E               float64
EV/EBITDA         float64
Percent Change    float64
dtype: object

In [545]:
date = aapl_df.index
date

DatetimeIndex(['2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-19', '2021-07-20',
               ...
               '2023-06-16', '2023-06-20', '2023-06-21', '2023-06-22',
               '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-28',
               '2023-06-29', '2023-06-30'],
              dtype='datetime64[ns]', name='Date', length=493, freq=None)

In [546]:
results = results.reset_index(drop=True)

In [547]:
results.tail()

          Close   EPS   EBITDA         P/E     EV/EBITDA  Percent Change
488  185.270004  1.53  32716.0  121.091506  9.160797e+07       -0.007553
489  188.059998  1.53  32716.0  122.915031  9.294885e+07        0.015059
490  189.250000  1.53  32716.0  123.692810  9.352077e+07        0.006328
491  189.589996  1.53  32716.0  123.915030  9.368418e+07        0.001797
492  193.970001  1.53  32716.0  126.777779  9.578922e+07        0.023103

In [548]:
for i in trs_df:
    results['1 YR'] = trs_df['1 YR']
for j in trs_df:
    results['5 YR'] = trs_df['5 YR']
for k in trs_df:
    results['30 YR'] = trs_df['30 YR']

In [549]:
results.head()

,Close,EPS,EBITDA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR
0,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85
1,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92
2,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81
3,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84
4,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83

In [550]:
results['Date'] = pd.to_datetime(date)
results = results.set_index('Date')
aapl_df = results

In [551]:
aapl_df.head()

,Close,EPS,EBITDA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR
Date,,,,,,,,,
2021-07-07,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85
2021-07-08,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92
2021-07-09,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81
2021-07-12,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84
2021-07-13,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83

In [552]:
## Part Three: 50 and 200 Day Moving Averages

In [555]:
# Set Short and Long Window
short_window = 50
long_window = 200

In [556]:
# Isolate closing price
close_aapl = aapl_df.loc[:,['Close']]
close_aapl.head()

                 Close
Date
2021-07-07  144.570007
2021-07-08  143.240005
2021-07-09  145.110001
2021-07-12  144.500000
2021-07-13  145.639999

In [557]:
# Find 50 and 200 MA with rolling average
aapl_df['50 MA'] = close_aapl['Close'].rolling(window=short_window).mean()
aapl_df['200 MA'] = close_aapl['Close'].rolling(window=long_window).mean()

In [558]:
aapl_df.head()

,Close,EPS,EBITDA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR,50 MA,200 MA
Date,,,,,,,,,,,
2021-07-07,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85,NaN,NaN
2021-07-08,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92,NaN,NaN
2021-07-09,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81,NaN,NaN
2021-07-12,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84,NaN,NaN
2021-07-13,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83,NaN,NaN

In [559]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
aapl_df = imp_mean.fit_transform(aapl_df)

aapl_df = pd.DataFrame(aapl_df)
aapl_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85,155.018085,154.772202
1,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92,155.018085,154.772202
2,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81,155.018085,154.772202
3,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84,155.018085,154.772202
4,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83,155.018085,154.772202

In [560]:
aapl_df['Date'] = pd.to_datetime(date)
aapl_df = aapl_df.set_index('Date')

In [563]:
col = ['Close', 'EPS', 'EBIDTA', 'P/E', 'EV/EBITDA', 'Percent Change', '1 YR', '5 YR', '30 YR', '50 MA', '200 MA']

In [565]:
aapl_df[col] = aapl_df

In [566]:
aapl_df = aapl_df[col]

In [567]:
aapl_df.head()

,Close,EPS,EBIDTA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR,50 MA,200 MA
Date,,,,,,,,,,,
2021-07-07,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85,155.018085,154.772202
2021-07-08,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92,155.018085,154.772202
2021-07-09,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81,155.018085,154.772202
2021-07-12,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84,155.018085,154.772202
2021-07-13,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83,155.018085,154.772202

In [568]:
aapl_df.head()

,Close,EPS,EBIDTA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR,50 MA,200 MA
Date,,,,,,,,,,,
2021-07-07,144.570007,1.31,26958.0,110.358784,9.260432e+07,0.017955,5.40,4.13,3.85,155.018085,154.772202
2021-07-08,143.240005,1.31,26958.0,109.343516,9.178746e+07,-0.009200,5.41,4.14,3.92,155.018085,154.772202
2021-07-09,145.110001,1.31,26958.0,110.770993,9.293597e+07,0.013055,5.32,3.97,3.81,155.018085,154.772202
2021-07-12,144.500000,1.31,26958.0,110.305344,9.256132e+07,-0.004204,5.33,4.02,3.84,155.018085,154.772202
2021-07-13,145.639999,1.31,26958.0,111.175572,9.326148e+07,0.007889,5.27,3.96,3.83,155.018085,154.772202

In [569]:
## Part 3: Find Buy or Sell Signal

In [570]:
rec = []
for i in aapl_df['Percent Change']:
    if i >= 0.0000000000000001:
        rec.append('Buy')
    else:
        rec.append('Sell')

In [571]:
aapl_df['Recommendation'] = rec

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [572]:
aapl_df.tail()

,Close,EPS,EBIDTA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR,50 MA,200 MA,Recommendation
Date,,,,,,,,,,,,
2023-06-26,185.270004,1.53,32716.0,121.091506,9.160797e+07,-0.007553,0.07,0.70,1.81,174.6788,154.07275,Sell
2023-06-27,188.059998,1.53,32716.0,122.915031,9.294885e+07,0.015059,0.08,0.79,1.93,175.1358,154.23400,Buy
2023-06-28,189.250000,1.53,32716.0,123.692810,9.352077e+07,0.006328,0.07,0.78,1.92,175.6162,154.40760,Buy
2023-06-29,189.589996,1.53,32716.0,123.915030,9.368418e+07,0.001797,0.08,0.80,1.98,176.0786,154.57575,Buy
2023-06-30,193.970001,1.53,32716.0,126.777779,9.578922e+07,0.023103,0.08,0.85,2.04,176.6054,154.77330,Buy

In [573]:
## Reorganize Columns

In [576]:
# Sort Data By Date: 
aapl_df = aapl_df.sort_values(by='Date' ,ascending=False)
pd.to_datetime(aapl_df.index).strftime('%Y-%m-%d')

Index(['2023-06-30', '2023-06-29', '2023-06-28', '2023-06-27', '2023-06-26',
       '2023-06-23', '2023-06-22', '2023-06-21', '2023-06-20', '2023-06-16',
       ...
       '2021-07-20', '2021-07-19', '2021-07-16', '2021-07-15', '2021-07-14',
       '2021-07-13', '2021-07-12', '2021-07-09', '2021-07-08', '2021-07-07'],
      dtype='object', name='Date', length=493)

In [577]:
aapl_df.head()

,Close,EPS,EBIDTA,P/E,EV/EBITDA,Percent Change,1 YR,5 YR,30 YR,50 MA,200 MA,Recommendation
Date,,,,,,,,,,,,
2023-06-30,193.970001,1.53,32716.0,126.777779,9.578922e+07,0.023103,0.08,0.85,2.04,176.6054,154.77330,Buy
2023-06-29,189.589996,1.53,32716.0,123.915030,9.368418e+07,0.001797,0.08,0.80,1.98,176.0786,154.57575,Buy
2023-06-28,189.250000,1.53,32716.0,123.692810,9.352077e+07,0.006328,0.07,0.78,1.92,175.6162,154.40760,Buy
2023-06-27,188.059998,1.53,32716.0,122.915031,9.294885e+07,0.015059,0.08,0.79,1.93,175.1358,154.23400,Buy
2023-06-26,185.270004,1.53,32716.0,121.091506,9.160797e+07,-0.007553,0.07,0.70,1.81,174.6788,154.07275,Sell

In [578]:
new_col = ['Close', 'Percent Change', '50 MA', '200 MA', 'EPS', 'EBIDTA', 'P/E', 'EV/EBITDA', '1 YR', '5 YR', '30 YR', 'Recommendation']

In [579]:
aapl_df = aapl_df[new_col]

In [580]:
aapl_df

,Close,Percent Change,50 MA,200 MA,EPS,EBIDTA,P/E,EV/EBITDA,1 YR,5 YR,30 YR,Recommendation
Date,,,,,,,,,,,,
2023-06-30,193.970001,0.023103,176.605400,154.773300,1.53,32716.0,126.777779,9.578922e+07,0.08,0.85,2.04,Buy
2023-06-29,189.589996,0.001797,176.078600,154.575750,1.53,32716.0,123.915030,9.368418e+07,0.08,0.80,1.98,Buy
2023-06-28,189.250000,0.006328,175.616200,154.407600,1.53,32716.0,123.692810,9.352077e+07,0.07,0.78,1.92,Buy
2023-06-27,188.059998,0.015059,175.135800,154.234000,1.53,32716.0,122.915031,9.294885e+07,0.08,0.79,1.93,Buy
2023-06-26,185.270004,-0.007553,174.678800,154.072750,1.53,32716.0,121.091506,9.160797e+07,0.07,0.70,1.81,Sell
2023-06-23,186.679993,-0.001711,174.284600,153.936200,1.53,32716.0,122.013067,9.228562e+07,0.08,0.69,1.88,Sell
2023-06-22,187.000000,0.016525,173.753000,153.788900,1.53,32716.0,122.222222,9.243942e+07,0.07,0.74,1.94,Buy
2023-06-21,183.960007,-0.005675,173.229001,153.648450,1.53,32716.0,120.235299,9.097839e+07,0.07,0.71,1.90,Sell
2023-06-20,185.009995,0.000487,172.790400,153.535550,1.53,32716.0,120.921565,9.148301e+07,0.07,0.72,1.92,Buy
2023-06-16,184.919998,-0.005860,172.383401,153.428600,1.53,32716.0,120.862744,9.143976e+07,0.08,0.73,1.93,Sell
2023-06-15,186.009995,0.011199,171.960201,153.354150,1.53,32716.0,121.575160,9.196362e+07,0.07,0.71,1.89,Buy
2023-06-14,183.949997,0.003491,171.552601,153.261750,1.53,32716.0,120.228756,9.097358e+07,0.07,0.72,1.90,Buy
2023-06-13,183.309998,-0.002612,171.197001,153.178150,1.53,32716.0,119.810456,9.066599e+07,0.08,0.73,1.91,Sell
2023-06-12,183.789993,0.015639,170.828801,153.099450,1.53,32716.0,120.124179,9.089668e+07,0.07,0.69,1.89,Buy
2023-06-09,180.960007,0.002160,170.368401,153.038100,1.53,32716.0,118.274514,8.953658e+07,0.07,0.66,1.86,Buy
2023-06-08,180.570007,0.015465,169.902201,153.004050,1.53,32716.0,118.019613,8.934914e+07,0.07,0.65,1.85,Buy
2023-06-07,177.820007,-0.007756,169.456400,152.973950,1.53,32716.0,116.222227,8.802748e+07,0.07,0.67,1.83,Sell
2023-06-06,179.210007,-0.002060,169.105000,152.950000,1.53,32716.0,117.130723,8.869552e+07,0.08,0.72,1.86,Sell
2023-06-05,179.580002,-0.007571,168.699400,152.919900,1.53,32716.0,117.372550,8.887334e+07,0.09,0.77,1.94,Sell
2023-06-02,180.949997,0.004775,168.264400,152.882500,1.53,32716.0,118.267972,8.953177e+07,0.08,0.79,1.96,Buy
2023-06-01,180.089996,0.016023,167.831000,152.820200,1.53,32716.0,117.705880,8.911845e+07,0.08,0.82,1.99,Buy
2023-05-31,177.250000,-0.000282,167.377200,152.765950,1.53,32716.0,115.849673,8.775354e+07,0.08,0.81,1.99,Sell
2023-05-30,177.300003,0.010660,166.932200,152.704300,1.53,32716.0,115.882355,8.777757e+07,0.09,0.83,2.03,Buy
2023-05-26,175.429993,0.014105,166.503200,152.642150,1.53,32716.0,114.660126,8.687884e+07,0.08,0.79,1.94,Buy
2023-05-25,172.990005,0.006692,166.054400,152.591750,1.53,32716.0,113.065363,8.570617e+07,0.08,0.75,1.92,Buy
2023-05-24,171.839996,0.001632,165.646400,152.555850,1.53,32716.0,112.313723,8.515347e+07,0.07,0.77,1.92,Buy
2023-05-23,171.559998,-0.015155,165.219000,152.527300,1.53,32716.0,112.130717,8.501890e+07,0.07,0.79,1.91,Sell
2023-05-22,174.199997,-0.005481,164.757800,152.469550,1.53,32716.0,113.856207,8.628770e+07,0.06,0.78,1.88,Sell
2023-05-19,175.160004,0.000628,164.285600,152.406100,1.53,32716.0,114.483663,8.674908e+07,0.06,0.80,1.87,Buy
2023-05-18,175.050003,0.013666,163.839800,152.342850,1.53,32716.0,114.411767,8.669621e+07,0.07,0.78,1.87,Buy
2023-05-17,172.690002,0.003603,163.370800,152.254350,1.53,32716.0,112.869283,8.556199e+07,0.06,0.80,1.91,Buy
2023-05-16,172.070007,0.000000,162.993600,152.174850,1.53,32716.0,112.464057,8.526402e+07,0.07,0.84,1.96,Sell
2023-05-15,172.070007,-0.002897,162.572800,152.072500,1.53,32716.0,112.464057,8.526402e+07,0.07,0.84,1.94,Sell
2023-05-12,172.570007,-0.006791,162.049600,151.976900,1.53,32716.0,112.790854,8.550432e+07,0.07,0.79,1.91,Sell
2023-05-11,173.750000,0.001095,161.504400,151.884500,1.53,32716.0,113.562092,8.607143e+07,0.08,0.77,1.90,Buy
2023-05-10,173.559998,0.010421,160.977600,151.792500,1.53,32716.0,113.437907,8.598011e+07,0.07,0.77,1.92,Buy
2023-05-09,171.770004,-0.009971,160.464800,151.689900,1.53,32716.0,112.267977,8.511983e+07,0.07,0.78,1.92,Sell
2023-05-08,173.500000,-0.000403,159.963600,151.586050,1.53,32716.0,113.398693,8.595128e+07,0.07,0.78,1.90,Sell
2023-05-05,173.570007,0.046927,159.481600,151.453900,1.53,32716.0,113.444449,8.598492e+07,0.08,0.78,1.94,Buy
2023-05-04,165.789993,-0.009913,158.988400,151.336900,1.53,32716.0,108.359473,8.224582e+07,0.08,0.82,1.99,Sell
2023-05-03,167.449997,-0.006467,158.642200,151.250300,1.53,32716.0,109.444442,8.304363e+07,0.08,0.81,1.95,Sell
2023-05-02,168.539993,-0.006191,158.344200,151.140500,1.53,32716.0,110.156858,8.356748e+07,0.07,0.79,1.90,Sell
2023-05-01,169.589996,-0.000530,158.047600,151.027100,1.53,32716.0,110.843135,8.407212e+07,0.08,0.82,1.94,Sell
2023-04-28,169.679993,0.007541,157.762400,150.903500,1.53,32716.0,110.901956,8.411537e+07,0.07,0.81,1.91,Buy
2023-04-27,168.410004,0.028395,157.432800,150.790300,1.53,32716.0,110.071898,8.350501e+07,0.07,0.79,1.85,Buy
2023-04-26,163.759995,-0.000061,157.141600,150.680000,1.53,32716.0,107.032676,8.127020e+07,0.07,0.81,1.87,Sell
2023-04-25,163.770004,-0.009436,156.886600,150.575800,1.53,32716.0,107.039218,8.127501e+07,0.07,0.84,1.88,Sell
2023-04-24,165.330002,0.001879,156.628600,150.464750,1.53,32716.0,108.058825,8.202475e+07,0.07,0.88,1.91,Buy
2023-04-21,165.020004,-0.009781,156.360400,150.332750,1.53,32716.0,107.856212,8.187576e+07,0.07,0.83,1.85,Sell
2023-04-20,166.649994,-0.005846,156.153000,150.191250,1.53,32716.0,108.921565,8.265914e+07,0.07,0.84,1.86,Sell
2023-04-19,167.630005,0.006968,155.854600,150.045200,1.53,32716.0,109.562095,8.313014e+07,0.08,0.86,1.84,Buy
2023-04-18,166.470001,0.007505,155.592000,149.915350,1.53,32716.0,108.803922,8.257264e+07,0.08,0.94,1.92,Buy
2023-04-17,165.229996,0.000121,155.279000,149.791300,1.53,32716.0,107.993461,8.197669e+07,0.08,0.97,1.99,Buy
2023-04-14,165.210007,-0.002114,154.883000,149.656500,1.53,32716.0,107.980397,8.196708e+07,0.09,0.98,1.99,Sell
2023-04-13,165.559998,0.034104,154.464600,149.507200,1.53,32716.0,108.209149,8.213529e+07,0.09,1.02,2.07,Buy
2023-04-12,160.100006,-0.004353,154.013400,149.358750,1.53,32716.0,104.640527,7.951120e+07,0.09,1.01,2.09,Sell
2023-04-11,160.800003,-0.007591,153.729999,149.216050,1.53,32716.0,105.098041,7.984762e+07,0.09,0.98,2.08,Sell
2023-04-10,162.029999,-0.015972,153.393199,149.062350,1.53,32716.0,105.901960,8.043876e+07,0.09,0.93,2.04,Sell
2023-04-06,164.660004,0.005496,152.989799,148.929350,1.53,32716.0,107.620917,8.170275e+07,0.09,0.95,2.05,Buy
2023-04-05,163.759995,-0.011290,152.547199,148.769850,1.53,32716.0,107.032676,8.127020e+07,0.09,0.98,2.10,Sell
2023-04-04,165.630005,-0.003250,152.094200,148.610450,1.53,32716.0,108.254905,8.216893e+07,0.10,0.99,2.08,Sell
2023-04-03,166.169998,0.007702,151.538999,148.467950,1.53,32716.0,108.607842,8.242846e+07,0.10,1.02,2.13,Buy
2023-03-31,164.899994,0.025689,150.920999,148.350300,1.53,32716.0,107.777774,8.181809e+07,0.09,1.05,2.16,Buy
2023-03-29,160.770004,0.019791,150.327200,148.265600,1.89,38932.0,85.063494,6.749912e+07,0.10,1.08,2.10,Buy
2023-03-28,157.649994,-0.003980,149.830600,148.205300,1.89,38932.0,83.412695,6.622951e+07,0.11,1.09,2.05,Sell
2023-03-27,158.279999,-0.012293,149.372800,148.147750,1.89,38932.0,83.746031,6.648588e+07,0.10,1.05,2.02,Sell
2023-03-24,160.250000,0.008306,148.875400,148.083250,1.89,38932.0,84.788360,6.728752e+07,0.12,1.13,2.05,Buy
2023-03-23,158.929993,0.006969,148.340200,148.038050,1.89,38932.0,84.089943,6.675038e+07,0.11,1.16,2.01,Buy
2023-03-22,157.830002,-0.009103,147.776200,147.986950,1.89,38932.0,83.507937,6.630276e+07,0.11,1.17,2.09,Sell
2023-03-21,159.279999,0.011944,147.222600,147.942000,1.89,38932.0,84.275132,6.689280e+07,0.10,1.16,2.12,Buy
2023-03-20,157.399994,0.015484,146.629400,147.893800,1.89,38932.0,83.280420,6.612778e+07,0.12,1.23,2.13,Buy
2023-03-17,155.000000,-0.005454,145.981800,147.825700,1.89,38932.0,82.010582,6.515116e+07,0.13,1.22,2.08,Sell
2023-03-16,155.850006,0.018694,145.409000,147.753300,1.89,38932.0,82.460321,6.549705e+07,0.14,1.19,2.09,Buy
2023-03-15,152.990005,0.002621,144.793400,147.675850,1.89,38932.0,80.947093,6.433325e+07,0.14,1.20,2.05,Buy
2023-03-14,152.589996,0.014089,144.325800,147.626450,1.89,38932.0,80.735448,6.417047e+07,0.12,1.16,1.95,Buy
2023-03-13,150.470001,0.013266,143.794800,147.551450,1.89,38932.0,79.613757,6.330779e+07,0.15,1.18,1.96,Buy
2023-03-10,148.500000,-0.013879,143.386000,147.485850,1.89,38932.0,78.571429,6.250615e+07,0.15,1.18,1.93,Sell
2023-03-09,150.589996,-0.014915,143.053200,147.447450,1.89,38932.0,79.677247,6.335662e+07,0.15,1.20,1.98,Sell
2023-03-08,152.869995,0.008377,142.686000,147.440700,1.89,38932.0,80.883595,6.428441e+07,0.15,1.15,1.96,Buy
2023-03-07,151.600006,-0.014496,142.337600,147.404050,1.89,38932.0,80.211643,6.376762e+07,0.17,1.19,2.00,Sell
2023-03-06,153.830002,0.018539,141.951600,147.381600,1.89,38932.0,81.391535,6.467506e+07,0.14,1.10,1.96,Buy
2023-03-03,151.029999,0.035090,141.522399,147.325250,1.89,38932.0,79.910052,6.353567e+07,0.14,1.04,1.87,Buy
2023-03-02,145.910004,0.004129,141.191999,147.302600,1.89,38932.0,77.201060,6.145222e+07,0.16,1.13,1.89,Buy
2023-03-01,145.309998,-0.014246,141.003799,147.345600,1.89,38932.0,76.883597,6.120806e+07,0.14,1.08,1.83,Sell
2023-02-28,147.410004,-0.003448,140.961799,147.379350,1.89,38932.0,77.994711,6.206260e+07,0.17,1.23,1.92,Sell
2023-02-27,147.919998,0.008248,140.922999,147.428700,1.89,38932.0,78.264549,6.227013e+07,0.17,1.24,1.95,Buy
2023-02-24,146.710007,-0.018005,140.854400,147.472950,1.89,38932.0,77.624342,6.177776e+07,0.18,1.26,2.01,Sell
2023-02-23,149.399994,0.003291,140.763400,147.569500,1.89,38932.0,79.047616,6.287238e+07,0.17,1.27,2.02,Buy
2023-02-22,148.910004,0.002896,140.628400,147.619900,1.89,38932.0,78.788362,6.267299e+07,0.18,1.24,2.00,Buy
2023-02-21,148.479996,-0.026680,140.468999,147.665150,1.89,38932.0,78.560844,6.249801e+07,0.18,1.22,1.97,Sell
2023-02-17,152.550003,-0.007547,140.357600,147.711000,1.89,38932.0,80.714287,6.415420e+07,0.18,1.22,1.91,Sell
2023-02-16,153.710007,-0.010429,140.239200,147.766450,1.89,38932.0,81.328046,6.462623e+07,0.20,1.33,1.98,Sell
2023-02-15,155.330002,0.013903,140.121199,147.780750,1.89,38932.0,82.185186,6.528545e+07,0.21,1.33,2.02,Buy
2023-02-14,153.199997,-0.004225,139.980799,147.788100,1.89,38932.0,81.058199,6.441870e+07,0.24,1.34,1.96,Sell
2023-02-13,153.850006,0.018807,139.877399,147.836500,1.89,38932.0,81.402120,6.468320e+07,0.20,1.16,1.83,Buy
2023-02-10,151.009995,0.000928,139.623799,147.876200,1.89,38932.0,79.899468,6.352753e+07,0.21,1.18,1.87,Buy
2023-02-09,150.869995,-0.006912,139.487999,147.953250,1.89,38932.0,79.825394,6.347056e+07,0.24,1.14,1.78,Sell
2023-02-08,151.919998,-0.017653,139.432800,148.035050,1.89,38932.0,80.380951,6.389783e+07,0.25,1.15,1.77,Sell
2023-02-07,154.649994,0.019245,139.415800,148.112450,1.89,38932.0,81.825394,6.500874e+07,0.27,1.21,1.76,Buy
2023-02-06,151.729996,-0.017929,139.326400,148.164550,1.89,38932.0,80.280421,6.382052e+07,0.26,1.13,1.69,Sell
2023-02-03,154.500000,0.024400,139.252000,148.232350,1.89,38932.0,81.746032,6.494770e+07,0.28,1.21,1.75,Buy
2023-02-02,150.820007,0.037063,139.187800,148.311850,1.89,38932.0,79.798946,6.345022e+07,0.31,1.26,1.80,Buy
2023-02-01,145.429993,0.007901,139.185799,148.396050,1.89,38932.0,76.947086,6.125689e+07,0.29,1.27,1.87,Buy
2023-01-31,144.289993,0.009021,139.252999,148.497650,1.89,38932.0,76.343912,6.079299e+07,0.28,1.26,1.87,Buy
2023-01-30,143.000000,-0.020078,139.367999,148.626650,1.89,38932.0,75.661376,6.026806e+07,0.27,1.25,1.88,Sell
2023-01-27,145.929993,0.013684,139.473599,148.772350,1.89,38932.0,77.211636,6.146035e+07,0.27,1.21,1.81,Buy
2023-01-26,143.960007,0.014803,139.548999,148.901850,1.89,38932.0,76.169316,6.065871e+07,0.26,1.23,1.82,Buy
2023-01-25,141.860001,-0.004701,139.607199,149.057350,1.89,38932.0,75.058201,5.980417e+07,0.29,1.26,1.86,Sell
2023-01-24,142.529999,0.010063,139.467399,149.240250,1.89,38932.0,75.412698,6.007681e+07,0.26,1.19,1.87,Buy
2023-01-23,141.110001,0.023500,139.406799,149.399150,1.89,38932.0,74.661376,5.949897e+07,0.27,1.18,1.82,Buy
2023-01-20,137.869995,0.019221,139.362999,149.566650,1.89,38932.0,72.947087,5.818053e+07,0.27,1.17,1.85,Buy
2023-01-19,135.270004,0.000444,139.373199,149.772100,1.89,38932.0,71.571431,5.712253e+07,0.29,1.24,1.89,Buy
2023-01-18,135.210007,-0.005370,139.445399,149.973750,1.89,38932.0,71.539686,5.709812e+07,0.28,1.23,1.86,Sell
2023-01-17,135.940002,0.008756,139.641799,150.171300,1.89,38932.0,71.925927,5.739517e+07,0.31,1.25,1.91,Buy
2023-01-13,134.759995,0.010119,139.935999,150.361950,1.89,38932.0,71.301584,5.691500e+07,0.33,1.26,1.88,Buy
2023-01-12,133.410004,-0.000599,140.307599,150.539200,1.89,38932.0,70.587304,5.636565e+07,0.39,1.27,1.90,Sell
2023-01-11,133.490005,0.021112,140.754199,150.716250,1.89,38932.0,70.629633,5.639821e+07,0.38,1.29,1.96,Buy
2023-01-10,130.729996,0.004456,140.980399,150.875700,1.89,38932.0,69.169310,5.527509e+07,0.38,1.27,1.93,Buy
2023-01-09,130.149994,0.004089,141.352799,151.041950,1.89,38932.0,68.862431,5.503907e+07,0.39,1.26,1.90,Buy
2023-01-06,129.619995,0.036794,141.796599,151.194300,1.89,38932.0,68.582008,5.482340e+07,0.40,1.37,2.01,Buy
2023-01-05,125.019997,-0.010605,142.193199,151.344150,1.89,38932.0,66.148146,5.295155e+07,0.38,1.37,2.07,Sell
2023-01-04,126.360001,0.010314,142.638199,151.494500,1.89,38932.0,66.857143,5.349683e+07,0.41,1.43,2.09,Buy
2023-01-03,125.070000,-0.035028,142.978799,151.615800,1.89,38932.0,66.174603,5.297190e+07,0.45,1.47,2.09,Sell
2022-12-29,129.610001,0.028324,143.354599,151.764100,1.29,27759.0,100.472869,7.801644e+07,0.43,1.50,2.11,Buy
2022-12-28,126.040001,-0.030685,143.637399,151.908650,1.29,27759.0,97.705427,7.596600e+07,0.46,1.53,2.11,Sell
2022-12-27,130.029999,-0.013878,143.964799,152.093200,1.29,27759.0,100.798449,7.825767e+07,0.46,1.51,2.08,Sell
2022-12-23,131.860001,-0.002798,144.131800,152.230250,1.29,27759.0,102.217055,7.930873e+07,0.48,1.50,2.08,Sell
2022-12-22,132.229996,-0.023773,144.354400,152.367450,1.29,27759.0,102.503873,7.952124e+07,0.47,1.47,2.05,Sell
2022-12-21,135.449997,0.023809,144.476600,152.522150,1.29,27759.0,104.999998,8.137065e+07,0.51,1.55,2.12,Buy
2022-12-20,132.300003,-0.000529,144.547200,152.676050,1.29,27759.0,102.558142,7.956145e+07,0.58,1.65,2.18,Sell
2022-12-19,132.369995,-0.015910,144.709600,152.847350,1.29,27759.0,102.612399,7.960165e+07,0.57,1.62,2.14,Sell
2022-12-16,134.509995,-0.014579,144.864000,153.001500,1.29,27759.0,104.271314,8.083076e+07,0.60,1.62,2.14,Sell
2022-12-15,136.500000,-0.046854,145.082400,153.154550,1.29,27759.0,105.813953,8.197372e+07,0.58,1.54,2.07,Sell
2022-12-14,143.210007,-0.015536,145.280399,153.296300,1.29,27759.0,111.015509,8.582762e+07,0.58,1.53,2.10,Sell
2022-12-13,145.470001,0.006782,145.338199,153.393950,1.29,27759.0,112.767443,8.712565e+07,0.65,1.56,2.12,Buy
2022-12-12,144.490005,0.016390,145.277799,153.466950,1.29,27759.0,112.007756,8.656279e+07,0.70,1.66,2.16,Buy
2022-12-09,142.160004,-0.003435,145.151999,153.566100,1.29,27759.0,110.201553,8.522455e+07,0.75,1.66,2.09,Sell
2022-12-08,142.649994,0.012133,145.305599,153.691800,1.29,27759.0,110.581391,8.550598e+07,0.75,1.61,2.07,Buy
2022-12-07,140.940002,-0.013785,145.487799,153.822950,1.29,27759.0,109.255816,8.452384e+07,0.78,1.62,2.11,Sell
2022-12-06,142.910004,-0.025370,145.684399,153.981000,1.29,27759.0,110.782949,8.565532e+07,0.78,1.63,2.12,Sell
2022-12-05,146.630005,-0.007983,145.834799,154.130400,1.29,27759.0,113.666670,8.779190e+07,0.76,1.60,2.11,Sell
2022-12-02,147.809998,-0.003371,145.956999,154.241650,1.29,27759.0,114.581393,8.846964e+07,0.78,1.66,2.14,Sell
2022-12-01,148.309998,0.001892,146.075199,154.345800,1.29,27759.0,114.968990,8.875681e+07,0.89,1.78,2.23,Buy
2022-11-30,148.029999,0.048594,146.246999,154.464850,1.29,27759.0,114.751937,8.859599e+07,0.88,1.76,2.22,Buy
2022-11-29,141.169998,-0.021148,146.375999,154.606100,1.29,27759.0,109.434107,8.465594e+07,0.91,1.81,2.25,Sell
2022-11-28,144.220001,-0.026264,146.566599,154.774400,1.29,27759.0,111.798451,8.640772e+07,0.91,1.82,2.25,Sell
2022-11-25,148.110001,-0.019594,146.729599,154.911600,1.29,27759.0,114.813954,8.864194e+07,1.14,1.96,2.30,Sell
2022-11-23,151.070007,0.005926,146.873599,155.033000,1.29,27759.0,117.108533,9.034203e+07,1.07,1.84,2.24,Buy
2022-11-22,150.179993,0.014661,146.928998,155.142150,1.29,27759.0,116.418599,8.983085e+07,1.13,1.90,2.29,Buy
2022-11-21,148.009995,-0.021680,147.193998,155.270450,1.29,27759.0,114.736430,8.858450e+07,1.11,1.94,2.37,Sell
2022-11-18,151.289993,0.003782,147.381198,155.403450,1.29,27759.0,117.279065,9.046838e+07,1.09,1.90,2.34,Buy
2022-11-17,150.720001,0.012971,147.444599,155.520900,1.29,27759.0,116.837210,9.014100e+07,1.05,1.85,2.31,Buy
2022-11-16,148.789993,-0.008331,147.549399,155.618950,1.29,27759.0,115.341080,8.903250e+07,1.03,1.82,2.24,Sell
2022-11-15,150.039993,0.011869,147.664199,155.671100,1.29,27759.0,116.310072,8.975044e+07,1.17,1.85,2.24,Buy
2022-11-14,148.279999,-0.009486,147.779599,155.719350,1.29,27759.0,114.945735,8.873958e+07,1.16,1.89,2.29,Sell
2022-11-11,149.699997,0.019269,147.973199,155.776850,1.29,27759.0,116.046509,8.955516e+07,1.08,1.84,2.28,Buy
2022-11-10,146.869995,0.088975,148.123599,155.836450,1.29,27759.0,113.852709,8.792974e+07,1.13,1.86,2.29,Buy
2022-11-09,134.869995,-0.033190,148.364399,155.914150,1.29,27759.0,104.550384,8.103752e+07,1.01,1.71,2.17,Sell
2022-11-08,139.500000,0.004175,148.894600,156.062350,1.29,27759.0,108.139535,8.369678e+07,0.91,1.56,2.11,Buy
2022-11-07,138.919998,0.003902,149.377000,156.196000,1.29,27759.0,107.689921,8.336365e+07,1.06,1.74,2.24,Buy
2022-11-04,138.380005,-0.003600,149.999200,156.350400,1.29,27759.0,107.271322,8.305350e+07,1.08,1.74,2.24,Sell
2022-11-03,138.880005,-0.042405,150.582199,156.523850,1.29,27759.0,107.658919,8.334068e+07,1.05,1.65,2.16,Sell
2022-11-02,145.029999,-0.037305,151.149199,156.690400,1.29,27759.0,112.426356,8.687294e+07,1.07,1.71,2.19,Sell
2022-11-01,150.649994,-0.017543,151.599999,156.842900,1.29,27759.0,116.782941,9.010079e+07,1.12,1.80,2.24,Sell
2022-10-31,153.339996,-0.015410,152.017400,156.965050,1.29,27759.0,118.868214,9.164580e+07,1.15,1.87,2.29,Sell
2022-10-28,155.740005,0.075553,152.433600,157.059300,1.29,27759.0,120.728686,9.302425e+07,1.19,1.92,2.38,Buy
2022-10-27,144.800003,-0.030465,152.809799,157.141450,1.29,27759.0,112.248064,8.674084e+07,1.22,1.96,2.36,Sell
2022-10-26,149.350006,-0.019627,153.374399,157.277450,1.29,27759.0,115.775199,8.935414e+07,1.28,2.10,2.47,Sell
2022-10-25,152.339996,0.019338,153.851199,157.405300,1.29,27759.0,118.093020,9.107145e+07,1.28,2.10,2.49,Buy
2022-10-24,149.449997,0.014803,154.246400,157.542100,1.29,27759.0,115.852711,8.941157e+07,1.35,2.18,2.46,Buy
2022-10-21,147.270004,0.027059,154.627200,157.704900,1.29,27759.0,114.162794,8.815949e+07,1.30,2.17,2.50,Buy
2022-10-20,143.389999,-0.003267,155.066600,157.856400,1.29,27759.0,111.155038,8.593100e+07,1.29,2.14,2.42,Sell
2022-10-19,143.860001,0.000765,155.497200,158.036350,1.29,27759.0,111.519380,8.620095e+07,1.40,2.33,2.55,Buy
2022-10-18,143.750000,0.009409,155.917400,158.213500,1.29,27759.0,111.434109,8.613777e+07,1.59,2.39,2.60,Buy
2022-10-17,142.410004,0.029123,156.349400,158.396400,1.29,27759.0,110.395352,8.536814e+07,1.52,2.34,2.52,Buy
2022-10-14,138.380005,-0.032240,156.817400,158.565750,1.29,27759.0,107.271322,8.305350e+07,1.55,2.37,2.51,Sell
2022-10-13,142.990005,0.033613,157.372400,158.752050,1.29,27759.0,110.844965,8.570127e+07,1.67,2.55,2.60,Buy
2022-10-12,138.339996,-0.004605,157.712799,158.902050,1.29,27759.0,107.240307,8.303053e+07,1.69,2.54,2.57,Sell
2022-10-11,138.979996,-0.010255,158.176199,159.059100,1.29,27759.0,107.736431,8.339811e+07,1.67,2.49,2.53,Sell
2022-10-10,140.419998,0.002356,158.646799,159.219900,1.29,27759.0,108.852712,8.422518e+07,1.64,2.44,2.48,Buy
2022-10-07,140.089996,-0.036719,158.985399,159.379100,1.29,27759.0,108.596896,8.403564e+07,1.63,2.42,2.44,Sell