In [3]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path

In [8]:
treasury_df = pd.read_csv(
    Path("USTREASURY-YIELD.csv"),
    index_col = "Date"
)

In [ ]:
treasury_df = pd.read_csv(
    Path("USTREASURY-YIELD.csv"),
    index_col = "Date"
)

In [9]:
treasury_df.head()

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2023-06-30,5.24,5.39,5.43,5.47,5.40,4.87,4.49,4.13,3.97,3.81,4.06,3.85
2023-06-29,5.25,5.40,5.46,5.50,5.41,4.87,4.49,4.14,3.99,3.85,4.11,3.92
2023-06-28,5.17,5.32,5.44,5.47,5.32,4.71,4.32,3.97,3.83,3.71,4.00,3.81
2023-06-27,5.17,5.31,5.44,5.46,5.33,4.74,4.38,4.02,3.90,3.77,4.03,3.84
2023-06-26,5.17,5.31,5.50,5.45,5.27,4.65,4.30,3.96,3.85,3.72,4.01,3.83

In [13]:
ten_yr_treasury = treasury_df['10 YR']

In [15]:
display(ten_yr_treasury.head())
display(ten_yr_treasury.tail())

Date
2023-06-30    3.81
2023-06-29    3.85
2023-06-28    3.71
2023-06-27    3.77
2023-06-26    3.72
Name: 10 YR, dtype: float64

Date
1990-01-08    8.02
1990-01-05    7.99
1990-01-04    7.98
1990-01-03    7.99
1990-01-02    7.94
Name: 10 YR, dtype: float64